{
  "openapi": "3.1.0",
  "info": {
    "title": "Servana API — canonical v1",
    "version": "1.0.0",
    "description": "The canonical Servana contract. Generated from src/api/v1/contract.ts — do not edit by hand; `npm run api:docs` rewrites it and the contract test fails if it drifts.\n\nOperations marked `x-implemented: false` are DOCUMENTED BUT NOT MOUNTED. They exist so the legacy migration matrix can name a canonical successor before it is built, and they will 404.\n\nRoutes under /api/v1 are exempt from the cross-platform field-parity middleware that rewrites every other response, so the shapes below are exactly what the wire carries."
  },
  "servers": [
    {
      "url": "https://servana.com.ph",
      "description": "Production"
    },
    {
      "url": "http://localhost:8000",
      "description": "Local"
    }
  ],
  "paths": {
    "/api/v1/catalog": {
      "get": {
        "operationId": "catalog.browse",
        "summary": "The full public catalog tree: categories, their subcategories and their services.",
        "tags": [
          "catalog"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "services/catalogPublicService.getPublicCatalog + getPublicCatalogSummary",
        "x-legacy": [
          {
            "method": "GET",
            "path": "/api/catalog",
            "disposition": "ALIAS_TEMPORARILY"
          },
          {
            "method": "GET",
            "path": "/api/services/full",
            "disposition": "CANONICALIZE"
          }
        ],
        "x-callers": {
          "customerMobile": "planned",
          "customerWeb": "planned",
          "providerMobile": "n/a",
          "providerWeb": "n/a",
          "admin": "n/a"
        },
        "x-observability-owner": "catalog",
        "security": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CatalogTree"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/catalog/summary": {
      "get": {
        "operationId": "catalog.summary",
        "summary": "Counts and last-updated stamp for the catalog, for cache validation.",
        "tags": [
          "catalog"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "services/catalogPublicService.getPublicCatalogSummary",
        "x-legacy": [
          {
            "method": "GET",
            "path": "/api/catalog/summary",
            "disposition": "ALIAS_TEMPORARILY"
          }
        ],
        "x-callers": {
          "customerMobile": "planned",
          "customerWeb": "planned",
          "providerMobile": "n/a",
          "providerWeb": "n/a",
          "admin": "n/a"
        },
        "x-observability-owner": "catalog",
        "security": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CatalogSummary"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/catalog/services": {
      "get": {
        "operationId": "catalog.services.list",
        "summary": "Flat list of every bookable service, for search and deep links.",
        "tags": [
          "catalog"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "services/catalogPublicService.listPublicServices",
        "x-legacy": [
          {
            "method": "GET",
            "path": "/api/catalog/services",
            "disposition": "ALIAS_TEMPORARILY"
          }
        ],
        "x-callers": {
          "customerMobile": "planned",
          "customerWeb": "planned",
          "providerMobile": "n/a",
          "providerWeb": "n/a",
          "admin": "n/a"
        },
        "x-observability-owner": "catalog",
        "security": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CatalogServiceList"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/catalog/services/{serviceId}": {
      "get": {
        "operationId": "catalog.services.get",
        "summary": "One service by its canonical services.id, including its place in the hierarchy.",
        "tags": [
          "catalog"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "services/catalogPublicService.getServiceDetail",
        "x-legacy": [
          {
            "method": "GET",
            "path": "/api/catalog/services/:serviceId",
            "disposition": "ALIAS_TEMPORARILY"
          }
        ],
        "x-callers": {
          "customerMobile": "planned",
          "customerWeb": "planned",
          "providerMobile": "n/a",
          "providerWeb": "n/a",
          "admin": "n/a"
        },
        "x-observability-owner": "catalog",
        "security": [],
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Canonical services.id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CatalogServiceDetail"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "CATALOG_SERVICE_NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Deliberately NOT status-filtered: an archived deep link resolves to an honest \"unavailable\" rather than a 404 dead end. `available` folds in subcategory and category status."
      }
    },
    "/api/v1/me": {
      "get": {
        "operationId": "identity.me",
        "summary": "The authenticated caller, whatever their role.",
        "tags": [
          "identity"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "services/identityService.getIdentity",
        "x-legacy": [
          {
            "method": "GET",
            "path": "/api/auth/me",
            "disposition": "ALIAS_TEMPORARILY"
          },
          {
            "method": "GET",
            "path": "/api/user/profile",
            "disposition": "ROLE_SPECIFIC"
          }
        ],
        "x-callers": {
          "customerMobile": "planned",
          "customerWeb": "planned",
          "providerMobile": "planned",
          "providerWeb": "legacy",
          "admin": "planned"
        },
        "x-observability-owner": "identity",
        "security": [
          {
            "firebaseIdToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Identity"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "TOKEN_EXPIRED | TOKEN_REVOKED | UNAUTHENTICATED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bookings": {
      "get": {
        "operationId": "bookings.listMine",
        "summary": "The caller's own bookings. Identity comes from the token, never from a parameter.",
        "tags": [
          "bookings"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "services/bookingService.getBookingsByUserId + formatBookings",
        "x-legacy": [
          {
            "method": "GET",
            "path": "/api/users/:userId/bookings",
            "disposition": "ALIAS_TEMPORARILY"
          }
        ],
        "x-callers": {
          "customerMobile": "legacy",
          "customerWeb": "legacy",
          "providerMobile": "n/a",
          "providerWeb": "n/a",
          "admin": "n/a"
        },
        "x-observability-owner": "bookings",
        "security": [
          {
            "firebaseIdToken": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Page size, 1-100, default 20"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Rows to skip, default 0"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/BookingList"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "TOKEN_EXPIRED | TOKEN_REVOKED | UNAUTHENTICATED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Paginated at the API boundary. The underlying service returns the whole set, so this bounds the RESPONSE, not the query — noted in the matrix as a follow-up for the bookings domain command."
      }
    },
    "/api/v1/bookings/{bookingId}": {
      "get": {
        "operationId": "bookings.get",
        "summary": "One booking, if the caller is its customer, its active provider, or an admin.",
        "tags": [
          "bookings"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "services/bookingAccessService.assertBookingAccess + bookingService.getBookingById",
        "x-legacy": [
          {
            "method": "GET",
            "path": "/api/:id",
            "disposition": "ALIAS_TEMPORARILY"
          }
        ],
        "x-callers": {
          "customerMobile": "legacy",
          "customerWeb": "legacy",
          "providerMobile": "legacy",
          "providerWeb": "planned",
          "admin": "planned"
        },
        "x-observability-owner": "bookings",
        "security": [
          {
            "firebaseIdToken": []
          }
        ],
        "parameters": [
          {
            "name": "bookingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "bookings.id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Booking"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "TOKEN_EXPIRED | TOKEN_REVOKED | UNAUTHENTICATED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "BOOKING_ACCESS_DENIED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "BOOKING_NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bookings/{bookingId}/timeline": {
      "get": {
        "operationId": "bookings.timeline",
        "summary": "A booking's operational history, voiced for the customer.",
        "tags": [
          "bookings"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "services/bookingAccessService.assertBookingAccess + bookingService.getCustomerBookingTimeline",
        "x-legacy": [
          {
            "method": "GET",
            "path": "/api/:id/timeline",
            "disposition": "ALIAS_TEMPORARILY"
          },
          {
            "method": "GET",
            "path": "/api/provider/bookings/:bookingId/timeline",
            "disposition": "ROLE_SPECIFIC"
          }
        ],
        "x-callers": {
          "customerMobile": "legacy",
          "customerWeb": "planned",
          "providerMobile": "n/a",
          "providerWeb": "n/a",
          "admin": "n/a"
        },
        "x-observability-owner": "bookings",
        "security": [
          {
            "firebaseIdToken": []
          }
        ],
        "parameters": [
          {
            "name": "bookingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "bookings.id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/BookingTimeline"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "TOKEN_EXPIRED | TOKEN_REVOKED | UNAUTHENTICATED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "BOOKING_ACCESS_DENIED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "BOOKING_NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/provider/jobs": {
      "get": {
        "operationId": "provider.jobs.list",
        "summary": "The authenticated provider's job cards.",
        "tags": [
          "provider-jobs"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "services/technicianService.getJobCardsByWorker + controllers/jobCardView.formatJobCard",
        "x-legacy": [
          {
            "method": "GET",
            "path": "/api/worker/job-cards",
            "disposition": "ALIAS_TEMPORARILY"
          },
          {
            "method": "GET",
            "path": "/api/workers/:workerId/job-cards",
            "disposition": "ALIAS_TEMPORARILY"
          }
        ],
        "x-callers": {
          "customerMobile": "n/a",
          "customerWeb": "n/a",
          "providerMobile": "legacy",
          "providerWeb": "legacy",
          "admin": "n/a"
        },
        "x-observability-owner": "provider-jobs",
        "security": [
          {
            "firebaseIdToken": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Page size, 1-100, default 50"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Rows to skip, default 0"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/JobCardList"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "TOKEN_EXPIRED | TOKEN_REVOKED | UNAUTHENTICATED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "PROVIDER_ROLE_REQUIRED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Three paths, one domain service. This is the clearest centralization case in the backend: two clients, two shapes, one query."
      }
    },
    "/api/v1/provider/jobs/{bookingId}": {
      "get": {
        "operationId": "provider.jobs.get",
        "summary": "One job card, scoped to the authenticated provider's own assignment.",
        "tags": [
          "provider-jobs"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "services/technicianService.getJobCardByWorker + controllers/jobCardView.formatJobCard",
        "x-legacy": [
          {
            "method": "GET",
            "path": "/api/worker/job-cards/:bookingId",
            "disposition": "ALIAS_TEMPORARILY"
          }
        ],
        "x-callers": {
          "customerMobile": "n/a",
          "customerWeb": "n/a",
          "providerMobile": "planned",
          "providerWeb": "legacy",
          "admin": "n/a"
        },
        "x-observability-owner": "provider-jobs",
        "security": [
          {
            "firebaseIdToken": []
          }
        ],
        "parameters": [
          {
            "name": "bookingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "bookings.id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/JobCard"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "TOKEN_EXPIRED | TOKEN_REVOKED | UNAUTHENTICATED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "PROVIDER_ROLE_REQUIRED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/notifications": {
      "get": {
        "operationId": "notifications.list",
        "summary": "The caller's notifications.",
        "tags": [
          "notifications"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "services/notificationService.listCustomerNotifications",
        "x-legacy": [
          {
            "method": "GET",
            "path": "/api/user/notifications",
            "disposition": "ALIAS_TEMPORARILY"
          }
        ],
        "x-callers": {
          "customerMobile": "legacy",
          "customerWeb": "legacy",
          "providerMobile": "n/a",
          "providerWeb": "n/a",
          "admin": "n/a"
        },
        "x-observability-owner": "notifications",
        "security": [
          {
            "firebaseIdToken": []
          }
        ],
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional service-side filter key"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Page size, 1-100, default 50"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Rows to skip, default 0"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/NotificationList"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "TOKEN_EXPIRED | TOKEN_REVOKED | UNAUTHENTICATED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/notifications/unread-count": {
      "get": {
        "operationId": "notifications.unreadCount",
        "summary": "How many unread notifications the caller has.",
        "tags": [
          "notifications"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "services/notificationService.countCustomerUnreadNotifications",
        "x-legacy": [
          {
            "method": "GET",
            "path": "/api/user/notifications/unread-count",
            "disposition": "ALIAS_TEMPORARILY"
          }
        ],
        "x-callers": {
          "customerMobile": "legacy",
          "customerWeb": "legacy",
          "providerMobile": "n/a",
          "providerWeb": "n/a",
          "admin": "n/a"
        },
        "x-observability-owner": "notifications",
        "security": [
          {
            "firebaseIdToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/UnreadCount"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "TOKEN_EXPIRED | TOKEN_REVOKED | UNAUTHENTICATED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/notifications/{key}/read": {
      "patch": {
        "operationId": "notifications.markRead",
        "summary": "Marks one notification read. Repeating it is a no-op, not an error.",
        "tags": [
          "notifications"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "services/notificationService.markCustomerNotificationReadByKey",
        "x-legacy": [
          {
            "method": "PATCH",
            "path": "/api/user/notifications/:key/read",
            "disposition": "ALIAS_TEMPORARILY"
          }
        ],
        "x-callers": {
          "customerMobile": "legacy",
          "customerWeb": "legacy",
          "providerMobile": "n/a",
          "providerWeb": "n/a",
          "admin": "n/a"
        },
        "x-observability-owner": "notifications",
        "security": [
          {
            "firebaseIdToken": []
          }
        ],
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Opaque notification key"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/NotificationMutation"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "TOKEN_EXPIRED | TOKEN_REVOKED | UNAUTHENTICATED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "NOTIFICATION_NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "NOTIFICATION_NOT_ACTIONABLE",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/notifications/read-all": {
      "post": {
        "operationId": "notifications.markAllRead",
        "summary": "Marks every notification read. Naturally idempotent.",
        "tags": [
          "notifications"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "services/notificationService.markAllCustomerNotificationsRead",
        "x-legacy": [
          {
            "method": "POST",
            "path": "/api/user/notifications/mark-all-read",
            "disposition": "ALIAS_TEMPORARILY"
          }
        ],
        "x-callers": {
          "customerMobile": "legacy",
          "customerWeb": "legacy",
          "providerMobile": "n/a",
          "providerWeb": "n/a",
          "admin": "n/a"
        },
        "x-observability-owner": "notifications",
        "security": [
          {
            "firebaseIdToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/NotificationMutation"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "TOKEN_EXPIRED | TOKEN_REVOKED | UNAUTHENTICATED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/reviews/providers/{providerUid}": {
      "get": {
        "operationId": "reviews.provider.list",
        "summary": "A provider's published reviews. No customer identity is projected.",
        "tags": [
          "reviews"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "services/customerReviewService.listProviderReviews",
        "x-legacy": [
          {
            "method": "GET",
            "path": "/api/providers/:providerUid/reviews",
            "disposition": "ALIAS_TEMPORARILY"
          }
        ],
        "x-callers": {
          "customerMobile": "planned",
          "customerWeb": "planned",
          "providerMobile": "n/a",
          "providerWeb": "n/a",
          "admin": "n/a"
        },
        "x-observability-owner": "reviews",
        "security": [],
        "parameters": [
          {
            "name": "providerUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Canonical provider uid"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Page size, 1-50, default 20"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Rows to skip, default 0"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ProviderReviewList"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/reviews/providers/{providerUid}/rating": {
      "get": {
        "operationId": "reviews.provider.rating",
        "summary": "A provider's aggregate rating.",
        "tags": [
          "reviews"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "services/customerReviewService.getProviderAggregate",
        "x-legacy": [
          {
            "method": "GET",
            "path": "/api/providers/:providerUid/rating",
            "disposition": "ALIAS_TEMPORARILY"
          }
        ],
        "x-callers": {
          "customerMobile": "planned",
          "customerWeb": "planned",
          "providerMobile": "n/a",
          "providerWeb": "n/a",
          "admin": "n/a"
        },
        "x-observability-owner": "reviews",
        "security": [],
        "parameters": [
          {
            "name": "providerUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Canonical provider uid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ProviderRating"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/settings/notification-preferences": {
      "get": {
        "operationId": "settings.notificationPreferences.get",
        "summary": "The caller's notification preferences.",
        "tags": [
          "settings"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "services/notificationService.getNotificationPrefs",
        "x-legacy": [
          {
            "method": "GET",
            "path": "/api/provider/notification-preferences",
            "disposition": "ALIAS_TEMPORARILY"
          },
          {
            "method": "GET",
            "path": "/api/workers/:uid/notification-preferences",
            "disposition": "ALIAS_TEMPORARILY"
          }
        ],
        "x-callers": {
          "customerMobile": "planned",
          "customerWeb": "planned",
          "providerMobile": "legacy",
          "providerWeb": "legacy",
          "admin": "n/a"
        },
        "x-observability-owner": "settings",
        "security": [
          {
            "firebaseIdToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/NotificationPreferences"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "TOKEN_EXPIRED | TOKEN_REVOKED | UNAUTHENTICATED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Three legacy paths, one uid-keyed service, and two of the three are gated on a provider role for a preference table that has no role column. The role gate is the accident, not the capability."
      },
      "put": {
        "operationId": "settings.notificationPreferences.put",
        "summary": "Replaces the caller's notification preferences. Idempotent by construction.",
        "tags": [
          "settings"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "services/notificationService.saveNotificationPrefs",
        "x-legacy": [
          {
            "method": "PUT",
            "path": "/api/provider/notification-preferences",
            "disposition": "ALIAS_TEMPORARILY"
          },
          {
            "method": "PUT",
            "path": "/api/workers/:uid/notification-preferences",
            "disposition": "ALIAS_TEMPORARILY"
          }
        ],
        "x-callers": {
          "customerMobile": "planned",
          "customerWeb": "planned",
          "providerMobile": "legacy",
          "providerWeb": "legacy",
          "admin": "n/a"
        },
        "x-observability-owner": "settings",
        "security": [
          {
            "firebaseIdToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationPreferences"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/NotificationPreferences"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "TOKEN_EXPIRED | TOKEN_REVOKED | UNAUTHENTICATED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/register": {
      "post": {
        "operationId": "auth.register",
        "summary": "Creates an account from an email + password, or from a Firebase ID token.",
        "tags": [
          "auth"
        ],
        "x-implemented": true,
        "x-idempotent": false,
        "x-domain-service": "services/auth.service.registerUser | services/firebaseFunctions.service.firebaseProviderRegister",
        "x-legacy": [
          {
            "method": "POST",
            "path": "/api/auth/signup",
            "disposition": "ALIAS_TEMPORARILY"
          },
          {
            "method": "POST",
            "path": "/api/auth/provider/register",
            "disposition": "ALIAS_TEMPORARILY"
          },
          {
            "method": "POST",
            "path": "/api/auth/add-employees",
            "disposition": "ROLE_SPECIFIC"
          }
        ],
        "x-callers": {
          "customerMobile": "legacy",
          "customerWeb": "planned",
          "providerMobile": "legacy",
          "providerWeb": "legacy",
          "admin": "n/a"
        },
        "x-observability-owner": "auth",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/RegisterResult"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "REGISTRATION_REJECTED | VALIDATION_FAILED | WEAK_PASSWORD",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "ACCOUNT_LINK_REQUIRED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Registration answers identity only. Provider onboarding, service selection and profile completion are separate domains and are NOT triggered from here beyond the existing non-blocking attribution hooks the legacy path already fires."
      }
    },
    "/api/v1/auth/login": {
      "post": {
        "operationId": "auth.login",
        "summary": "One sign-in for every identifier and every surface: email or mobile + password, or a Firebase ID token.",
        "tags": [
          "auth"
        ],
        "x-implemented": true,
        "x-idempotent": false,
        "x-domain-service": "services/authLoginService → services/auth.service.loggedInUser | firebaseFunctions.firebaseAuthLogin",
        "x-legacy": [
          {
            "method": "POST",
            "path": "/api/auth/signin",
            "disposition": "ALIAS_TEMPORARILY"
          },
          {
            "method": "POST",
            "path": "/api/auth/admin-signin",
            "disposition": "ALIAS_TEMPORARILY"
          },
          {
            "method": "POST",
            "path": "/api/auth/firebase-login",
            "disposition": "ALIAS_TEMPORARILY"
          },
          {
            "method": "POST",
            "path": "/api/auth/customer-firebase-login",
            "disposition": "ROLE_SPECIFIC"
          }
        ],
        "x-callers": {
          "customerMobile": "legacy",
          "customerWeb": "legacy",
          "providerMobile": "legacy",
          "providerWeb": "legacy",
          "admin": "legacy"
        },
        "x-observability-owner": "auth",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Session"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "INVALID_CREDENTIALS",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "ACCOUNT_DISABLED | ACCOUNT_UNVERIFIED | AUDIENCE_MISMATCH",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "ACCOUNT_LINK_REQUIRED | PASSWORD_NOT_AVAILABLE",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Mobile + password works only for an account that also has an email: Firebase is the password authority and its password grant is keyed on email. An account with a mobile and no email gets PASSWORD_NOT_AVAILABLE and must use the token path — stated, not guessed."
      }
    },
    "/api/v1/auth/refresh": {
      "post": {
        "operationId": "auth.refresh",
        "summary": "Exchanges a refresh token for a fresh session.",
        "tags": [
          "auth"
        ],
        "x-implemented": true,
        "x-idempotent": false,
        "x-domain-service": "services/tokenRefreshService.refreshIdToken",
        "x-legacy": [
          {
            "method": "POST",
            "path": "/api/auth/refresh",
            "disposition": "ALIAS_TEMPORARILY"
          }
        ],
        "x-callers": {
          "customerMobile": "legacy",
          "customerWeb": "legacy",
          "providerMobile": "legacy",
          "providerWeb": "legacy",
          "admin": "legacy"
        },
        "x-observability-owner": "auth",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Session"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "REFRESH_TOKEN_INVALID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "REFRESH_UNAVAILABLE",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/logout": {
      "post": {
        "operationId": "auth.logout",
        "summary": "Ends every session for the authenticated account and clears its push token.",
        "tags": [
          "auth"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "services/authSessionService.endAllSessions",
        "x-legacy": [
          {
            "method": "POST",
            "path": "/api/auth/logout",
            "disposition": "ALIAS_TEMPORARILY"
          }
        ],
        "x-callers": {
          "customerMobile": "legacy",
          "customerWeb": "legacy",
          "providerMobile": "legacy",
          "providerWeb": "legacy",
          "admin": "legacy"
        },
        "x-observability-owner": "auth",
        "security": [
          {
            "firebaseIdToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/LogoutResult"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "TOKEN_EXPIRED | TOKEN_REVOKED | UNAUTHENTICATED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Ends ALL sessions, not this device only. Firebase has no per-session revocation, and a logout that silently left other devices signed in would be worse than one that says so."
      }
    },
    "/api/v1/auth/forgot-password": {
      "post": {
        "operationId": "auth.forgotPassword",
        "summary": "Starts password recovery. Always answers the same way, whether or not the account exists.",
        "tags": [
          "auth"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "services/auth.service.forgotPassword",
        "x-legacy": [
          {
            "method": "POST",
            "path": "/api/auth/forgot-password",
            "disposition": "ALIAS_TEMPORARILY"
          }
        ],
        "x-callers": {
          "customerMobile": "legacy",
          "customerWeb": "legacy",
          "providerMobile": "legacy",
          "providerWeb": "legacy",
          "admin": "legacy"
        },
        "x-observability-owner": "auth",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ForgotPasswordRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/NeutralAck"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "EMAIL ONLY today. Recovery requires a VERIFIED identifier, and mobile recovery would need an SMS sender this platform does not have — so it is refused rather than half-built. The response is identical for an unknown address, an unverified one and a mobile number."
      }
    },
    "/api/v1/auth/reset-password": {
      "post": {
        "operationId": "auth.resetPassword",
        "summary": "Completes a password reset and ends every existing session.",
        "tags": [
          "auth"
        ],
        "x-implemented": true,
        "x-idempotent": false,
        "x-domain-service": "services/auth.service.resetPassword → services/authSessionService.endSessionsOnCredentialChange",
        "x-legacy": [
          {
            "method": "POST",
            "path": "/api/auth/reset-password",
            "disposition": "ALIAS_TEMPORARILY"
          }
        ],
        "x-callers": {
          "customerMobile": "legacy",
          "customerWeb": "legacy",
          "providerMobile": "legacy",
          "providerWeb": "legacy",
          "admin": "legacy"
        },
        "x-observability-owner": "auth",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResetPasswordRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/NeutralAck"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "RESET_TOKEN_INVALID | VALIDATION_FAILED | WEAK_PASSWORD",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/verify-email": {
      "post": {
        "operationId": "auth.verifyEmail",
        "summary": "Verifies an email address with a one-time code issued for registration.",
        "tags": [
          "auth"
        ],
        "x-implemented": true,
        "x-idempotent": false,
        "x-domain-service": "services/otpService.verifyEmailOtp + services/auth.service.verifyEmailOtp",
        "x-legacy": [
          {
            "method": "POST",
            "path": "/api/auth/verify-email-otp",
            "disposition": "ALIAS_TEMPORARILY"
          }
        ],
        "x-callers": {
          "customerMobile": "legacy",
          "customerWeb": "planned",
          "providerMobile": "legacy",
          "providerWeb": "planned",
          "admin": "n/a"
        },
        "x-observability-owner": "auth",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyEmailRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/VerificationResult"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "OTP_INVALID | VALIDATION_FAILED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "410": {
            "description": "OTP_EXPIRED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/resend-verification": {
      "post": {
        "operationId": "auth.resendVerification",
        "summary": "Re-sends an email verification code or link. Always answers the same way.",
        "tags": [
          "auth"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "services/auth.service.resendEmailOtp | getAndSendEmailVerificationLink",
        "x-legacy": [
          {
            "method": "POST",
            "path": "/api/auth/resend-email-otp",
            "disposition": "ALIAS_TEMPORARILY"
          },
          {
            "method": "GET",
            "path": "/api/auth/resendverification",
            "disposition": "ALIAS_TEMPORARILY"
          }
        ],
        "x-callers": {
          "customerMobile": "legacy",
          "customerWeb": "planned",
          "providerMobile": "legacy",
          "providerWeb": "legacy",
          "admin": "n/a"
        },
        "x-observability-owner": "auth",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResendVerificationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/NeutralAck"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/verify-mobile": {
      "post": {
        "operationId": "auth.verifyMobile",
        "summary": "Records a mobile number as verified, proven by a Firebase phone credential.",
        "tags": [
          "auth"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "services/identityVerificationSync.provenFrom + recordProvenIdentifiers, guarded by services/accountLinkGuard",
        "x-legacy": [],
        "x-callers": {
          "customerMobile": "planned",
          "customerWeb": "planned",
          "providerMobile": "planned",
          "providerWeb": "planned",
          "admin": "n/a"
        },
        "x-observability-owner": "auth",
        "security": [
          {
            "firebaseIdToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyMobileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/VerificationResult"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "INVALID_CREDENTIALS | TOKEN_EXPIRED | TOKEN_REVOKED | UNAUTHENTICATED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "ACCOUNT_LINK_REQUIRED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "There is no server-side SMS OTP and this does not add one. The proof is a Firebase ID token whose sign-in provider is `phone`, which Firebase only issues after its own OTP. The number must not already belong to another account — `accountLinkGuard` decides, and a collision is ACCOUNT_LINK_REQUIRED rather than a silent second account."
      }
    },
    "/api/v1/search": {
      "get": {
        "operationId": "search.query",
        "summary": "Search Categories, Subcategories and Services in one ranked result set.",
        "tags": [
          "search"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "services/catalogSearchService.searchCatalog",
        "x-legacy": [
          {
            "method": "GET",
            "path": "/api/services/full",
            "disposition": "CANONICALIZE"
          }
        ],
        "x-callers": {
          "customerMobile": "legacy",
          "customerWeb": "planned",
          "providerMobile": "n/a",
          "providerWeb": "n/a",
          "admin": "n/a"
        },
        "x-observability-owner": "catalog",
        "security": [],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Search term. Under 2 characters returns an empty result, not an error."
          },
          {
            "name": "types",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated: category,subcategory,service. Default all three."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Max hits, 1-50, default 20."
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/SearchResults"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Every hit carries a qualified `ref` (`service:180`), so a mixed result set is keyable without the client inferring type from which array it arrived in. Aliases widen what a term MATCHES and never what exists — \"aircon\" and \"air conditioning\" return the same Services with the same ids."
      }
    },
    "/api/v1/catalog/search": {
      "get": {
        "operationId": "catalog.search",
        "summary": "Alias of /search, scoped under the catalog namespace.",
        "tags": [
          "catalog"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "services/catalogSearchService.searchCatalog",
        "x-legacy": [],
        "x-callers": {
          "customerMobile": "planned",
          "customerWeb": "planned",
          "providerMobile": "n/a",
          "providerWeb": "n/a",
          "admin": "n/a"
        },
        "x-observability-owner": "catalog",
        "security": [],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Search term."
          },
          {
            "name": "types",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated entity types."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Max hits, 1-50, default 20."
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/SearchResults"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "The command named both paths as the target. Both are mounted and both call the SAME function — two paths, one implementation, which is a naming convenience rather than a second search. If it ever becomes two implementations it is a defect, and tests/v1-catalog-contract.test.ts asserts the shared handler."
      }
    },
    "/api/v1/catalog/categories": {
      "get": {
        "operationId": "catalog.categories.list",
        "summary": "Lightweight Category summaries with counts, no nested children.",
        "tags": [
          "catalog"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "services/catalogPublicService.listCategories",
        "x-legacy": [],
        "x-callers": {
          "customerMobile": "planned",
          "customerWeb": "planned",
          "providerMobile": "n/a",
          "providerWeb": "n/a",
          "admin": "n/a"
        },
        "x-observability-owner": "catalog",
        "security": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CategorySummaryList"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "The counterpart to GET /catalog, which returns the whole tree. A category chooser needing three names should not receive 95 services with prices and images."
      }
    },
    "/api/v1/catalog/categories/{categoryId}": {
      "get": {
        "operationId": "catalog.categories.get",
        "summary": "One Category by canonical catalog_categories.id.",
        "tags": [
          "catalog"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "services/catalogPublicService.getCategory",
        "x-legacy": [],
        "x-callers": {
          "customerMobile": "planned",
          "customerWeb": "planned",
          "providerMobile": "n/a",
          "providerWeb": "n/a",
          "admin": "n/a"
        },
        "x-observability-owner": "catalog",
        "security": [],
        "parameters": [
          {
            "name": "categoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Canonical catalog_categories.id — NOT a service_families.id."
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CategoryDetail"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "CATALOG_CATEGORY_NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Not status-filtered: a deep link to a deactivated Category lands on an honest `available: false`."
      }
    },
    "/api/v1/catalog/categories/{categoryId}/subcategories": {
      "get": {
        "operationId": "catalog.categories.subcategories",
        "summary": "The Subcategories of one Category.",
        "tags": [
          "catalog"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "services/catalogPublicService.listSubcategoriesOfCategory",
        "x-legacy": [
          {
            "method": "GET",
            "path": "/api/services/:serviceId/level2",
            "disposition": "CANONICALIZE"
          }
        ],
        "x-callers": {
          "customerMobile": "legacy",
          "customerWeb": "planned",
          "providerMobile": "n/a",
          "providerWeb": "n/a",
          "admin": "n/a"
        },
        "x-observability-owner": "catalog",
        "security": [],
        "parameters": [
          {
            "name": "categoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Canonical catalog_categories.id."
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/SubcategorySummaryList"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "CATALOG_CATEGORY_NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "404s on a missing Category rather than returning an empty list — empty and missing are different facts."
      }
    },
    "/api/v1/catalog/subcategories/{subcategoryId}": {
      "get": {
        "operationId": "catalog.subcategories.get",
        "summary": "One Subcategory by canonical catalog_subcategories.id.",
        "tags": [
          "catalog"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "services/catalogPublicService.getSubcategory",
        "x-legacy": [],
        "x-callers": {
          "customerMobile": "planned",
          "customerWeb": "planned",
          "providerMobile": "n/a",
          "providerWeb": "n/a",
          "admin": "n/a"
        },
        "x-observability-owner": "catalog",
        "security": [],
        "parameters": [
          {
            "name": "subcategoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Canonical catalog_subcategories.id."
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/SubcategoryDetail"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "CATALOG_SUBCATEGORY_NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "`available` folds in the parent Category, as service detail folds in both ancestors."
      }
    },
    "/api/v1/catalog/subcategories/{subcategoryId}/services": {
      "get": {
        "operationId": "catalog.subcategories.services",
        "summary": "The Services of one Subcategory.",
        "tags": [
          "catalog"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "services/catalogPublicService.listServicesOfSubcategory",
        "x-legacy": [
          {
            "method": "GET",
            "path": "/api/services/:serviceId/options-with-addons",
            "disposition": "CANONICALIZE"
          },
          {
            "method": "GET",
            "path": "/api/:serviceId/options-with-addons",
            "disposition": "ALIAS_TEMPORARILY"
          }
        ],
        "x-callers": {
          "customerMobile": "planned",
          "customerWeb": "planned",
          "providerMobile": "legacy",
          "providerWeb": "n/a",
          "admin": "n/a"
        },
        "x-observability-owner": "catalog",
        "security": [],
        "parameters": [
          {
            "name": "subcategoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Canonical catalog_subcategories.id."
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
[...]
