{
  "openapi": "3.1.0",
  "info": {
    "title": "Servana Admin API — the legacy surface, as mounted",
    "version": "1.0.0",
    "description": "Every /api/admin/* operation the app mounts. GENERATED from the route tree by\n`npm run admin:docs` — do not edit by hand.\n\nREAD THIS BEFORE GENERATING A CLIENT.\n\nThese routes are NOT exempt from `parityMiddleware`. Unless x-parity-rewritten is\nfalse, the wire carries ADDITIONAL alias keys this document does not declare —\nfirst_name, providerUid, level2, photoURL and some forty more, injected on the way\nout. So a declared shape here is a SUBSET of what arrives, never the whole of it.\nThat is the opposite of openapi.v1.json, whose shapes are exactly the wire.\n\nAn operation whose 200 payload reads \"UNSPECIFIED\" has a real shape that nobody has\nwritten down yet. It is deliberately not guessed: a wrong schema is worse than an\nabsent one, because a client generates types from it and breaks in a way that looks\nlike the backend is at fault."
  },
  "servers": [
    {
      "url": "https://api.servana.com.ph"
    }
  ],
  "x-generated-from": "scripts/generate-admin-api-docs.ts",
  "x-operation-count": 251,
  "x-authored-response-count": 116,
  "x-parity-rewritten-count": 231,
  "paths": {
    "/api/admin/admin-users": {
      "get": {
        "summary": "ctrl.listAdminUsers — admin-users",
        "operationId": "get__api_admin_admin_users",
        "tags": [
          "admin-users"
        ],
        "responses": {
          "200": {
            "description": "Authored against the service.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Wrapped as `{ status: \"success\", data: … }`.",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      },
                      "description": "Row shape is `any[]` in the service signature, so it is not guessed here."
                    }
                  }
                }
              }
            }
          }
        },
        "x-guard": "permission",
        "x-permission": "admin_users.view",
        "x-envelope": "status-success",
        "x-payload-keys": [
          "data"
        ],
        "x-parity-rewritten": true,
        "x-source": "src/routes/adminPermission.routes.ts:22",
        "x-controller": "../controllers/adminPermissionController.ts",
        "x-derived-from": "adminPermissionService.listAdminUsers — typed `data: any[]`",
        "x-note": "total/page/limit ride in `meta`. Limit clamped to 1..100, default 25.",
        "x-callers": [
          "adminWeb"
        ]
      },
      "post": {
        "summary": "ctrl.createAdminUser — admin-users",
        "operationId": "post__api_admin_admin_users",
        "tags": [
          "admin-users"
        ],
        "responses": {
          "200": {
            "description": "Envelope declared; payload not yet authored.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Wrapped as `{ status: \"success\", data: … }`.",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "description": "UNSPECIFIED. No schema has been authored for this operation yet. This is an honest gap, not an empty object: the payload has a real shape and nobody has written it down. A guessed schema would be worse than this, because a client would generate types from it."
                    }
                  }
                }
              }
            }
          }
        },
        "x-guard": "super-admin",
        "x-envelope": "status-success",
        "x-payload-keys": [
          "data"
        ],
        "x-parity-rewritten": true,
        "x-source": "src/routes/adminPermission.routes.ts:26",
        "x-controller": "../controllers/adminPermissionController.ts",
        "x-callers": [
          "adminWeb"
        ]
      }
    },
    "/api/admin/admin-users/{adminUid}": {
      "get": {
        "summary": "ctrl.getAdminUserById — admin-users",
        "operationId": "get__api_admin_admin_users_adminUid",
        "tags": [
          "admin-users"
        ],
        "parameters": [
          {
            "name": "adminUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Envelope declared; payload not yet authored.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Wrapped as `{ status: \"success\", data: … }`.",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "description": "UNSPECIFIED. No schema has been authored for this operation yet. This is an honest gap, not an empty object: the payload has a real shape and nobody has written it down. A guessed schema would be worse than this, because a client would generate types from it."
                    }
                  }
                }
              }
            }
          }
        },
        "x-guard": "permission",
        "x-permission": "admin_users.view",
        "x-envelope": "status-success",
        "x-payload-keys": [
          "data"
        ],
        "x-parity-rewritten": true,
        "x-source": "src/routes/adminPermission.routes.ts:49",
        "x-controller": "../controllers/adminPermissionController.ts",
        "x-callers": [
          "adminWeb"
        ]
      },
      "patch": {
        "summary": "ctrl.updateAdminUser — admin-users",
        "operationId": "patch__api_admin_admin_users_adminUid",
        "tags": [
          "admin-users"
        ],
        "parameters": [
          {
            "name": "adminUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Envelope declared; payload not yet authored.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Wrapped as `{ status: \"success\", data: … }`.",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "description": "UNSPECIFIED. No schema has been authored for this operation yet. This is an honest gap, not an empty object: the payload has a real shape and nobody has written it down. A guessed schema would be worse than this, because a client would generate types from it."
                    }
                  }
                }
              }
            }
          }
        },
        "x-guard": "super-admin",
        "x-envelope": "status-success",
        "x-payload-keys": [
          "data"
        ],
        "x-parity-rewritten": true,
        "x-source": "src/routes/adminPermission.routes.ts:53",
        "x-controller": "../controllers/adminPermissionController.ts",
        "x-callers": [
          "adminWeb"
        ]
      }
    },
    "/api/admin/admin-users/{adminUid}/permission-history": {
      "get": {
        "summary": "ctrl.getPermissionHistory — admin-users",
        "operationId": "get__api_admin_admin_users_adminUid_permission_history",
        "tags": [
          "admin-users"
        ],
        "parameters": [
          {
            "name": "adminUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Authored against the service.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Wrapped as `{ status: \"success\", data: … }`.",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      },
                      "description": "Raw admin_permission_events rows, SNAKE_CASE, no mapper."
                    }
                  }
                }
              }
            }
          }
        },
        "x-guard": "super-admin",
        "x-envelope": "status-success",
        "x-payload-keys": [
          "data"
        ],
        "x-parity-rewritten": true,
        "x-source": "src/routes/adminPermission.routes.ts:69",
        "x-controller": "../controllers/adminPermissionController.ts",
        "x-derived-from": "adminPermissionService.getPermissionHistory — returns res.rows, RAW",
        "x-note": "The record of who granted what to whom. Append-only.",
        "x-callers": [
          "adminWeb"
        ]
      }
    },
    "/api/admin/admin-users/{adminUid}/permissions": {
      "get": {
        "summary": "ctrl.getAdminUserPermissions — admin-users",
        "operationId": "get__api_admin_admin_users_adminUid_permissions",
        "tags": [
          "admin-users"
        ],
        "parameters": [
          {
            "name": "adminUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Authored against the service.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Wrapped as `{ status: \"success\", data: … }`.",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "adminUid",
                        "isSuperAdmin",
                        "accountStatus",
                        "permissions",
                        "generatedAt"
                      ],
                      "properties": {
                        "adminUid": {
                          "type": "string"
                        },
                        "isSuperAdmin": {
                          "type": "boolean",
                          "description": "When TRUE, `permissions` is the FULL set of active definitions rather than an assigned list — a super admin holds everything by construction, not by grant. Revoking one from that list would change nothing."
                        },
                        "accountStatus": {
                          "type": "string"
                        },
                        "permissions": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "generatedAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Computed at read time. This is a snapshot, not a stored record."
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-guard": "super-admin",
        "x-envelope": "status-success",
        "x-payload-keys": [
          "data"
        ],
        "x-parity-rewritten": true,
        "x-source": "src/routes/adminPermission.routes.ts:61",
        "x-controller": "../controllers/adminPermissionController.ts",
        "x-derived-from": "adminPermissionService.getAdminUserPermissions — typed in the service signature",
        "x-callers": [
          "adminWeb"
        ]
      },
      "patch": {
        "summary": "ctrl.updateAdminUserPermissions — admin-users",
        "operationId": "patch__api_admin_admin_users_adminUid_permissions",
        "tags": [
          "admin-users"
        ],
        "parameters": [
          {
            "name": "adminUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Envelope declared; payload not yet authored.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Wrapped as `{ status: \"success\", data: … }`.",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "description": "UNSPECIFIED. No schema has been authored for this operation yet. This is an honest gap, not an empty object: the payload has a real shape and nobody has written it down. A guessed schema would be worse than this, because a client would generate types from it."
                    }
                  }
                }
              }
            }
          }
        },
        "x-guard": "super-admin",
        "x-envelope": "status-success",
        "x-payload-keys": [
          "data"
        ],
        "x-parity-rewritten": true,
        "x-source": "src/routes/adminPermission.routes.ts:65",
        "x-controller": "../controllers/adminPermissionController.ts",
        "x-callers": [
          "adminWeb"
        ]
      }
    },
    "/api/admin/admin-users/{adminUid}/permissions/preview": {
      "post": {
        "summary": "ctrl.previewPermissionChange — admin-users",
        "operationId": "post__api_admin_admin_users_adminUid_permissions_preview",
        "tags": [
          "admin-users"
        ],
        "parameters": [
          {
            "name": "adminUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Authored against the service.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Wrapped as `{ status: \"success\", data: … }`.",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/PermissionChangePreview"
                    }
                  }
                }
              }
            }
          }
        },
        "x-guard": "super-admin",
        "x-envelope": "status-success",
        "x-payload-keys": [
          "data"
        ],
        "x-parity-rewritten": true,
        "x-source": "src/routes/adminPermission.routes.ts:73",
        "x-controller": "../controllers/adminPermissionController.ts",
        "x-derived-from": "adminPermissionService.previewPermissionChange — typed in the service signature",
        "x-note": "A DRY RUN. Nothing is written. It exists so a super admin sees the dependency closure and the risk classification BEFORE granting, rather than discovering them in the audit trail afterwards.",
        "x-callers": [
          "adminWeb"
        ]
      }
    },
    "/api/admin/admin-users/{adminUid}/resend-invite": {
      "post": {
        "summary": "ctrl.resendAdminInvite — admin-users",
        "operationId": "post__api_admin_admin_users_adminUid_resend_invite",
        "tags": [
          "admin-users"
        ],
        "parameters": [
          {
            "name": "adminUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Envelope declared; payload not yet authored.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Wrapped as `{ status: \"success\", data: … }`.",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "description": "UNSPECIFIED. No schema has been authored for this operation yet. This is an honest gap, not an empty object: the payload has a real shape and nobody has written it down. A guessed schema would be worse than this, because a client would generate types from it."
                    }
                  }
                }
              }
            }
          }
        },
        "x-guard": "super-admin",
        "x-envelope": "status-success",
        "x-payload-keys": [
          "data"
        ],
        "x-parity-rewritten": true,
        "x-source": "src/routes/adminPermission.routes.ts:35",
        "x-controller": "../controllers/adminPermissionController.ts",
        "x-callers": [
          "adminWeb"
        ]
      }
    },
    "/api/admin/admin-users/{adminUid}/status": {
      "patch": {
        "summary": "ctrl.updateAdminUserStatus — admin-users",
        "operationId": "patch__api_admin_admin_users_adminUid_status",
        "tags": [
          "admin-users"
        ],
        "parameters": [
          {
            "name": "adminUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Envelope declared; payload not yet authored.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Wrapped as `{ status: \"success\", data: … }`.",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "description": "UNSPECIFIED. No schema has been authored for this operation yet. This is an honest gap, not an empty object: the payload has a real shape and nobody has written it down. A guessed schema would be worse than this, because a client would generate types from it."
                    }
                  }
                }
              }
            }
          }
        },
        "x-guard": "super-admin",
        "x-envelope": "status-success",
        "x-payload-keys": [
          "data"
        ],
        "x-parity-rewritten": true,
        "x-source": "src/routes/adminPermission.routes.ts:57",
        "x-controller": "../controllers/adminPermissionController.ts",
        "x-callers": [
          "adminWeb"
        ]
      }
    },
    "/api/admin/admin-users/bootstrap-super-admin": {
      "post": {
        "summary": "ctrl.bootstrapSuperAdmin — admin-users",
        "operationId": "post__api_admin_admin_users_bootstrap_super_admin",
        "tags": [
          "admin-users"
        ],
        "responses": {
          "200": {
            "description": "Authored against the service.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Wrapped as `{ status: \"success\", data: … }`.",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "adminUid",
                        "isSuperAdmin"
                      ],
                      "properties": {
                        "adminUid": {
                          "type": "string"
                        },
                        "isSuperAdmin": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-guard": "authenticated",
        "x-handler-guard": "Fail-closed in adminPermissionService.bootstrapSuperAdmin: one transaction behind pg_advisory_xact_lock, refuses when ANY super admin row exists (status-independent), and when admin_users is non-empty requires the caller to already be one of those admins. Denials are audited. It CANNOT carry a role gate: the first Super Admin cannot already be an admin, which is the chicken-and-egg the service documents.",
        "x-envelope": "status-success",
        "x-payload-keys": [
          "data"
        ],
        "x-parity-rewritten": true,
        "x-source": "src/routes/adminPermission.routes.ts:45",
        "x-controller": "../controllers/adminPermissionController.ts",
        "x-derived-from": "adminPermissionService.bootstrapSuperAdmin",
        "x-note": "THE ONE ADMIN ROUTE WITH NO ROLE GATE, and that is correct rather than an oversight: the first Super Admin cannot already be an admin. The service is fail-closed — one transaction behind pg_advisory_xact_lock, refusing when ANY super-admin row exists (status-independent, so deactivating them all does not reopen it), and requiring the caller to already be an admin whenever admin_users is non-empty. Refusals are audited, because a denied attempt is the more interesting security event.",
        "x-callers": [
          "adminWeb"
        ]
      }
    },
    "/api/admin/admin-users/invite": {
      "post": {
        "summary": "ctrl.inviteAdminUser — admin-users",
        "operationId": "post__api_admin_admin_users_invite",
        "tags": [
          "admin-users"
        ],
        "responses": {
          "200": {
            "description": "Envelope declared; payload not yet authored.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Wrapped as `{ status: \"success\", data: … }`.",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "description": "UNSPECIFIED. No schema has been authored for this operation yet. This is an honest gap, not an empty object: the payload has a real shape and nobody has written it down. A guessed schema would be worse than this, because a client would generate types from it."
                    }
                  }
                }
              }
            }
          }
        },
        "x-guard": "super-admin",
        "x-envelope": "status-success",
        "x-payload-keys": [
          "data"
        ],
        "x-parity-rewritten": true,
        "x-source": "src/routes/adminPermission.routes.ts:32",
        "x-controller": "../controllers/adminPermissionController.ts",
        "x-callers": [
          "adminWeb"
        ]
      }
    },
    "/api/admin/audit-logs": {
      "get": {
        "summary": "ctrl.listAuditLogs — audit-logs",
        "operationId": "get__api_admin_audit_logs",
        "tags": [
          "audit-logs"
        ],
        "responses": {
          "200": {
            "description": "Authored against the service.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Wrapped as `{ status: \"success\", data: … }`.",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AuditListItem"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-guard": "permission",
        "x-permission": "audit_logs.view",
        "x-envelope": "status-success",
        "x-payload-keys": [
          "data"
        ],
        "x-parity-rewritten": true,
        "x-source": "src/routes/adminAudit.routes.ts:12",
        "x-controller": "../controllers/adminAuditController.ts",
        "x-derived-from": "adminAuditService.findEvents -> rowToListItem",
        "x-note": "The controller answers ok(res, result.rows, meta) — the ARRAY is under `data` and total/page/limit/totalPages ride in `meta`, together with the requestId and a generatedAt. Filterable by request_id, which is what makes an operator's quoted reference resolvable. See TAB 09.",
        "x-callers": [
          "adminWeb"
        ]
      }
    },
    "/api/admin/audit-logs/{eventId}": {
      "get": {
        "summary": "ctrl.getAuditEventDetail — audit-logs",
        "operationId": "get__api_admin_audit_logs_eventId",
        "tags": [
          "audit-logs"
        ],
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Authored against the service.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Wrapped as `{ status: \"success\", data: … }`.",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/AuditEventDetail"
                    }
                  }
                }
              }
            }
          }
        },
        "x-guard": "permission",
        "x-permission": "audit_logs.details.view",
        "x-envelope": "status-success",
        "x-payload-keys": [
          "data"
        ],
        "x-parity-rewritten": true,
        "x-source": "src/routes/adminAudit.routes.ts:27",
        "x-controller": "../controllers/adminAuditController.ts",
        "x-derived-from": "adminAuditService.getEventById",
        "x-note": "Returns null for an unknown id and the controller renders that as a 404.",
        "x-callers": [
          "adminWeb"
        ]
      }
    },
    "/api/admin/audit-logs/actions": {
      "get": {
        "summary": "ctrl.getAuditActions — audit-logs",
        "operationId": "get__api_admin_audit_logs_actions",
        "tags": [
          "audit-logs"
        ],
        "responses": {
          "200": {
            "description": "Authored against the service.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Wrapped as `{ status: \"success\", data: … }`.",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      },
                      "description": "The action vocabulary a client should populate its filter from."
                    }
                  }
                }
              }
            }
          }
        },
        "x-guard": "permission",
        "x-permission": "audit_logs.view",
        "x-envelope": "status-success",
        "x-payload-keys": [
          "data"
        ],
        "x-parity-rewritten": true,
        "x-source": "src/routes/adminAudit.routes.ts:18",
        "x-controller": "../controllers/adminAuditController.ts",
        "x-derived-from": "adminAuditController.getAuditActions — the ACTION_LABELS vocabulary",
        "x-callers": [
          "adminWeb"
        ]
      }
    },
    "/api/admin/audit-logs/actor/{actorUid}": {
      "get": {
        "summary": "ctrl.getActorHistory — audit-logs",
        "operationId": "get__api_admin_audit_logs_actor_actorUid",
        "tags": [
          "audit-logs"
        ],
        "parameters": [
          {
            "name": "actorUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Authored against the service.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Wrapped as `{ status: \"success\", data: … }`.",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AuditListItem"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-guard": "permission",
        "x-permission": "audit_logs.actor_history.view",
        "x-envelope": "status-success",
        "x-payload-keys": [
          "data"
        ],
        "x-parity-rewritten": true,
        "x-source": "src/routes/adminAudit.routes.ts:24",
        "x-controller": "../controllers/adminAuditController.ts",
        "x-derived-from": "adminAuditService.findActorTimeline -> rowToListItem",
        "x-note": "Everything one actor did. Same item shape as the main list.",
        "x-callers": [
          "adminWeb"
        ]
      }
    },
    "/api/admin/audit-logs/entity/{entityType}/{entityId}": {
      "get": {
        "summary": "ctrl.getEntityTimeline — audit-logs",
        "operationId": "get__api_admin_audit_logs_entity_entityType_entityId",
        "tags": [
          "audit-logs"
        ],
        "parameters": [
          {
            "name": "entityType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Authored against the service.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Wrapped as `{ status: \"success\", data: … }`.",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AuditListItem"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-guard": "permission",
        "x-permission": "audit_logs.entity_timeline.view",
        "x-envelope": "status-success",
        "x-payload-keys": [
          "data"
        ],
        "x-parity-rewritten": true,
        "x-source": "src/routes/adminAudit.routes.ts:21",
        "x-controller": "../controllers/adminAuditController.ts",
        "x-derived-from": "adminAuditService.findEntityTimeline -> rowToListItem",
        "x-note": "Everything that happened TO one entity. Same item shape as the main list.",
        "x-callers": [
          "adminWeb"
        ]
      }
    },
    "/api/admin/audit-logs/export": {
      "post": {
        "summary": "ctrl.exportAuditLogs — audit-logs",
        "operationId": "post__api_admin_audit_logs_export",
        "tags": [
          "audit-logs"
        ],
        "responses": {
          "200": {
            "description": "Authored against the service.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Wrapped as `{ status: \"success\", data: … }`.",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "content",
                        "format",
                        "count"
                      ],
                      "properties": {
                        "content": {
                          "type": "string",
                          "description": "The whole export as a STRING in the JSON body — not a file download."
                        },
                        "format": {
                          "type": "string",
                          "enum": [
                            "csv",
                            "json"
                          ]
                        },
                        "count": {
                          "type": "integer",
                          "description": "Rows exported, capped by EXPORT_LIMIT."
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-guard": "permission",
        "x-permission": "audit_logs.export",
        "x-envelope": "status-success",
        "x-payload-keys": [
          "data"
        ],
        "x-parity-rewritten": true,
        "x-source": "src/routes/adminAudit.routes.ts:30",
        "x-controller": "../controllers/adminAuditController.ts",
        "x-derived-from": "adminAuditService.exportEvents",
        "x-note": "Unlike the communications export, which sends text/csv as an attachment, this one returns the payload inside the normal JSON envelope. Two admin exports, two transports. A reason is required and the export is itself audited.",
        "x-callers": [
          "adminWeb"
        ]
      }
    },
    "/api/admin/audit-logs/summary": {
      "get": {
        "summary": "ctrl.getAuditSummary — audit-logs",
        "operationId": "get__api_admin_audit_logs_summary",
        "tags": [
          "audit-logs"
        ],
        "responses": {
          "200": {
            "description": "Authored against the service.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Wrapped as `{ status: \"success\", data: … }`.",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "total",
                        "failed",
                        "blocked",
                        "highRisk",
                        "payment",
                        "booking",
                        "provider",
                        "catalog"
                      ],
                      "properties": {
                        "total": {
                          "type": "integer"
                        },
                        "failed": {
                          "type": "integer"
                        },
                        "blocked": {
                          "type": "integer",
                          "description": "Refused attempts, which are the more interesting security events — a denied super-admin bootstrap is audited as blocked."
                        },
                        "highRisk": {
                          "type": "integer",
                          "description": "Actions the service classifies HIGH_RISK: onboarding final decisions, provider suspension and archival, payment approvals, catalog publishes."
                        },
                        "payment": {
                          "type": "integer"
                        },
                        "booking": {
                          "type": "integer"
                        },
                        "provider": {
                          "type": "integer"
                        },
                        "catalog": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-guard": "permission",
        "x-permission": "audit_logs.view",
        "x-envelope": "status-success",
        "x-payload-keys": [
          "data"
        ],
        "x-parity-rewritten": true,
        "x-source": "src/routes/adminAudit.routes.ts:15",
        "x-controller": "../controllers/adminAuditController.ts",
        "x-derived-from": "adminAuditService.getSummary — typed in the service signature",
        "x-callers": [
          "adminWeb"
        ]
      }
    },
    "/api/admin/auto-online/backfill-apply": {
      "post": {
        "summary": "ctrl.backfillApply — auto-online",
        "operationId": "post__api_admin_auto_online_backfill_apply",
        "tags": [
          "auto-online"
        ],
        "responses": {
          "200": {
            "description": "Envelope declared; payload not yet authored.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Wrapped as `{ status: \"success\", data: … }`.",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "description": "UNSPECIFIED. No schema has been authored for this operation yet. This is an honest gap, not an empty object: the payload has a real shape and nobody has written it down. A guessed schema would be worse than this, because a client would generate types from it."
                    }
                  }
                }
              }
            }
          }
        },
        "x-guard": "permission",
        "x-permission": "auto_online.backfill_apply",
        "x-envelope": "status-success",
        "x-payload-keys": [
          "data"
        ],
        "x-parity-rewritten": true,
        "x-source": "src/routes/adminAutoOnline.routes.ts:29",
        "x-controller": "../controllers/adminAutoOnlineController.ts",
        "x-callers": [
          "adminWeb"
        ]
      }
    },
    "/api/admin/auto-online/backfill-preview": {
      "get": {
        "summary": "ctrl.backfillPreview — auto-online",
        "operationId": "get__api_admin_auto_online_backfill_preview",
        "tags": [
          "auto-online"
        ],
        "responses": {
          "200": {
            "description": "Envelope declared; payload not yet authored.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Wrapped as `{ status: \"success\", data: … }`.",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "description": "UNSPECIFIED. No schema has been authored for this operation yet. This is an honest gap, not an empty object: the payload has a real shape and nobody has written it down. A guessed schema would be worse than this, because a client would generate types from it."
                    }
                  }
                }
              }
            }
          }
        },
        "x-guard": "permission",
        "x-permission": "auto_online.backfill_preview",
        "x-envelope": "status-success",
        "x-payload-keys": [
          "data"
        ],
        "x-parity-rewritten": true,
        "x-source": "src/routes/adminAutoOnline.routes.ts:28",
        "x-controller": "../controllers/adminAutoOnlineController.ts",
        "x-callers": [
          "adminWeb"
        ]
      }
    },
    "/api/admin/auto-online/blockers": {
      "get": {
        "summary": "ctrl.getBlockers — auto-online",
        "operationId": "get__api_admin_auto_online_blockers",
        "tags": [
          "auto-online"
        ],
        "responses": {
          "200": {
            "description": "Envelope declared; payload not yet authored.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Wrapped as `{ status: \"success\", data: … }`.",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "description": "UNSPECIFIED. No schema has been authored for this operation yet. This is an honest gap, not an empty object: the payload has a real shape and nobody has written it down. A guessed schema would be worse than this, because a client would generate types from it."
                    }
                  }
                }
              }
            }
          }
        },
        "x-guard": "permission",
        "x-permission": "auto_online.view",
        "x-envelope": "status-success",
        "x-payload-keys": [
          "data"
        ],
        "x-parity-rewritten": true,
        "x-source": "src/routes/adminAutoOnline.routes.ts:27",
        "x-controller": "../controllers/adminAutoOnlineController.ts",
        "x-callers": [
          "adminWeb"
        ]
      }
    },
    "/api/admin/auto-online/summary": {
      "get": {
        "summary": "ctrl.getSummary — auto-online",
        "operationId": "get__api_admin_auto_online_summary",
        "tags": [
          "auto-online"
        ],
        "responses": {
          "200": {
            "description": "Envelope declared; payload not yet authored.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Wrapped as `{ status: \"success\", data: … }`.",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "description": "UNSPECIFIED. No schema has been authored for this operation yet. This is an honest gap, not an empty object: the payload has a real shape and nobody has written it down. A guessed schema would be worse than this, because a client would generate types from it."
                    }
                  }
                }
              }
            }
          }
        },
        "x-guard": "permission",
        "x-permission": "auto_online.view",
        "x-envelope": "status-success",
        "x-payload-keys": [
          "data"
        ],
        "x-parity-rewritten": true,
        "x-source": "src/routes/adminAutoOnline.routes.ts:26",
        "x-controller": "../controllers/adminAutoOnlineController.ts",
        "x-callers": [
          "adminWeb"
        ]
      }
    },
    "/api/admin/booking-drafts": {
      "get": {
        "summary": "ctrl.listAdminBookingDrafts — booking-drafts",
        "operationId": "get__api_admin_booking_drafts",
        "tags": [
          "booking-drafts"
        ],
        "responses": {
          "200": {
            "description": "Envelope declared; payload not yet authored.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Wrapped as `{ success: true, … }` — a BOOLEAN flag, not `status`. A client branching on `body.status === \"success\"` reads undefined here.",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  },
                  "x-payload-keys": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          }
        },
        "x-guard": "permission",
        "x-permission": "bookings.view",
        "x-envelope": "success-flag",
        "x-payload-keys": [
          "data",
          "meta"
        ],
        "x-parity-rewritten": true,
        "x-source": "src/routes/adminBookingDraft.routes.ts:19",
        "x-controller": "../controllers/adminBookingDraftController.ts",
        "x-callers": [
          "adminWeb"
        ]
      },
      "post": {
        "summary": "ctrl.createAdminBookingDraft — booking-drafts",
        "operationId": "post__api_admin_booking_drafts",
        "tags": [
          "booking-drafts"
        ],
        "responses": {
          "200": {
            "description": "Envelope declared; payload not yet authored.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Wrapped as `{ success: true, … }` — a BOOLEAN flag, not `status`. A client branching on `body.status === \"success\"` reads undefined here.",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "description": "UNSPECIFIED. No schema has been authored for this operation yet. This is an honest gap, not an empty object: the payload has a real shape and nobody has written it down. A guessed schema would be worse than this, because a client would generate types from it."
                    }
                  }
                }
              }
            }
          }
        },
        "x-guard": "permission",
        "x-permission": "bookings.create",
        "x-envelope": "success-flag",
        "x-payload-keys": [
          "data"
        ],
        "x-parity-rewritten": true,
        "x-source": "src/routes/adminBookingDraft.routes.ts:12",
        "x-controller": "../controllers/adminBookingDraftController.ts",
        "x-callers": [
          "adminWeb"
        ]
      }
    },
    "/api/admin/booking-drafts/{draftId}": {
      "delete": {
        "summary": "ctrl.discardAdminBookingDraft — booking-drafts",
        "operationId": "delete__api_admin_booking_drafts_draftId",
        "tags": [
          "booking-drafts"
        ],
        "parameters": [
          {
            "name": "draftId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Envelope declared; payload not yet authored.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Wrapped as `{ success: true, … }` — a BOOLEAN flag, not `status`. A client branching on `body.status === \"success\"` reads undefined here.",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  },
                  "x-payload-keys": []
                }
              }
            }
          }
        },
        "x-guard": "permission",
        "x-permission": "bookings.create",
        "x-envelope": "success-flag",
        "x-payload-keys": [],
        "x-parity-rewritten": true,
        "x-source": "src/routes/adminBookingDraft.routes.ts:40",
        "x-controller": "../controllers/adminBookingDraftController.ts",
        "x-callers": [
          "adminWeb"
        ]
      },
      "get": {
        "summary": "ctrl.getAdminBookingDraft — booking-drafts",
        "operationId": "get__api_admin_booking_drafts_draftId",
        "tags": [
          "booking-drafts"
        ],
        "parameters": [
          {
            "name": "draftId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Envelope declared; payload not yet authored.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Wrapped as `{ success: true, … }` — a BOOLEAN flag, not `status`. A client branching on `body.status === \"success\"` reads undefined here.",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "description": "UNSPECIFIED. No schema has been authored for this operation yet. This is an honest gap, not an empty object: the payload has a real shape and nobody has written it down. A guessed schema would be worse than this, because a client would generate types from it."
                    }
                  }
                }
              }
            }
          }
        },
        "x-guard": "permission",
        "x-permission": "bookings.create",
        "x-envelope": "success-flag",
        "x-payload-keys": [
          "data"
        ],
        "x-parity-rewritten": true,
        "x-source": "src/routes/adminBookingDraft.routes.ts:26",
        "x-controller": "../controllers/adminBookingDraftController.ts",
        "x-callers": [
          "adminWeb"
        ]
      },
      "patch": {
        "summary": "ctrl.patchAdminBookingDraft — booking-drafts",
        "operationId": "patch__api_admin_booking_drafts_draftId",
        "tags": [
          "booking-drafts"
        ],
        "parameters": [
          {
            "name": "draftId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Envelope declared; payload not yet authored.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Wrapped as `{ success: true, … }` — a BOOLEAN flag, not `status`. A client branching on `body.status === \"success\"` reads undefined here.",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "description": "UNSPECIFIED. No schema has been authored for this operation yet. This is an honest gap, not an empty object: the payload has a real shape and nobody has written it down. A guessed schema would be worse than this, because a client would generate types from it."
                    }
                  }
                }
              }
            }
          }
        },
        "x-guard": "permission",
        "x-permission": "bookings.create",
        "x-envelope": "success-flag",
        "x-payload-keys": [
          "data"
        ],
        "x-parity-rewritten": true,
        "x-source": "src/routes/adminBookingDraft.routes.ts:33",
        "x-controller": "../controllers/adminBookingDraftController.ts",
        "x-callers": [
          "adminWeb"
        ]
      }
    },
    "/api/admin/booking-drafts/{draftId}/convert": {
      "post": {
        "summary": "ctrl.convertAdminBookingDraft — booking-drafts",
        "operationId": "post__api_admin_booking_drafts_draftId_convert",
        "tags": [
          "booking-drafts"
        ],
        "parameters": [
          {
            "name": "draftId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Envelope declared; payload not yet authored.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Wrapped as `{ success: true, … }` — a BOOLEAN flag, not `status`. A client branching on `body.status === \"success\"` reads undefined here.",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "description": "UNSPECIFIED. No schema has been authored for this operation yet. This is an honest gap, not an empty object: the payload has a real shape and nobody has written it down. A guessed schema would be worse than this, because a client would generate types from it."
                    }
                  }
                }
              }
            }
          }
        },
        "x-guard": "permission",
        "x-permission": "bookings.create",
        "x-envelope": "success-flag",
        "x-payload-keys": [
          "data"
        ],
        "x-parity-rewritten": true,
        "x-source": "src/routes/adminBookingDraft.routes.ts:47",
        "x-controller": "../controllers/adminBookingDraftController.ts",
        "x-callers": [
          "adminWeb"
        ]
      }
    },
    "/api/admin/bookings": {
      "get": {
        "summary": "ctrl.listBookings — bookings",
        "operationId": "get__api_admin_bookings",
        "tags": [
          "bookings"
        ],
        "responses": {
          "200": {
            "description": "Envelope declared; payload not yet authored.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Wrapped as `{ status: \"success\", data: … }`.",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    }
                  },
                  "x-payload-keys": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          }
        },
        "x-guard": "permission",
        "x-permission": "bookings.view",
        "x-envelope": "status-success",
        "x-payload-keys": [
          "data",
          "meta"
        ],
        "x-parity-rewritten": true,
        "x-source": "src/routes/adminBooking.routes.ts:20",
        "x-controller": "../controllers/adminBookingController.ts",
        "x-callers": [
          "adminWeb"
        ]
      },
      "post": {
        "summary": "ctrl.createAdminBooking — bookings",
        "operationId": "post__api_admin_bookings",
        "tags": [
          "bookings"
        ],
        "responses": {
          "200": {
            "description": "Envelope declared; payload not yet authored.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Wrapped as `{ status: \"success\", data: … }`.",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "description": "UNSPECIFIED. No schema has been authored for this operation yet. This is an honest gap, not an empty object: the payload has a real shape and nobody has written it down. A guessed schema would be worse than this, because a client would generate types from it."
                    }
                  }
                }
              }
            }
          }
        },
        "x-guard": "permission",
        "x-permission": "bookings.create",
        "x-envelope": "status-success",
        "x-payload-keys": [
          "data"
        ],
        "x-parity-rewritten": true,
        "x-source": "src/routes/adminBooking.routes.ts:18",
        "x-controller": "../controllers/adminBookingController.ts",
        "x-callers": [
          "adminWeb"
        ]
      }
    },
    "/api/admin/bookings/{id}": {
      "get": {
        "summary": "ctrl.getBookingDetail — bookings",
        "operationId": "get__api_admin_bookings_id",
        "tags": [
          "bookings"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Authored against the service.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Wrapped as `{ status: \"success\", data: … }`.",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/AdminBookingDetail"
                    }
                  }
                }
              }
            }
          }
        },
        "x-guard": "permission",
        "x-permission": "bookings.details.view",
        "x-envelope": "status-success",
        "x-payload-keys": [
          "data"
        ],
        "x-parity-rewritten": true,
        "x-source": "src/routes/adminBooking.routes.ts:21",
        "x-controller": "../controllers/adminBookingController.ts",
        "x-derived-from": "adminBookingService.getAdminBookingDetail",
        "x-note": "Returns null for an unknown id and the controller renders that as a 404.",
        "x-callers": [
          "adminWeb"
        ]
      }
    },
    "/api/admin/bookings/{id}/approve-completion": {
      "post": {
        "summary": "ctrl.approveCompletion — bookings",
        "operationId": "post__api_admin_bookings_id_approve_completion",
        "tags": [
          "bookings"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Envelope declared; payload not yet authored.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Wrapped as `{ status: \"success\", data: … }`.",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "description": "UNSPECIFIED. No schema has been authored for this operation yet. This is an honest gap, not an empty object: the payload has a real shape and nobody has written it down. A guessed schema would be worse than this, because a client would generate types from it."
                    }
                  }
                }
              }
            }
          }
        },
        "x-guard": "permission",
        "x-permission": "bookings.approve_completion",
        "x-envelope": "status-success",
        "x-payload-keys": [
          "data"
        ],
        "x-parity-rewritten": true,
        "x-source": "src/routes/adminBooking.routes.ts:35",
        "x-controller": "../controllers/adminBookingController.ts",
        "x-callers": [
          "adminWeb"
        ]
      }
    },
    "/api/admin/bookings/{id}/assign": {
      "post": {
        "summary": "ctrl.assignProvider — bookings",
        "operationId": "post__api_admin_bookings_id_assign",
        "tags": [
          "bookings"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Envelope declared; payload not yet authored.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Wrapped as `{ status: \"success\", data: … }`.",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "description": "UNSPECIFIED. No schema has been authored for this operation yet. This is an honest gap, not an empty object: the payload has a real shape and nobody has written it down. A guessed schema would be worse than this, because a client would generate types from it."
                    }
                  }
                }
              }
            }
          }
        },
        "x-guard": "permission",
        "x-permission": "bookings.assign_provider",
        "x-envelope": "status-success",
        "x-payload-keys": [
          "data"
        ],
        "x-parity-rewritten": true,
        "x-source": "src/routes/adminBooking.routes.ts:29",
        "x-controller": "../controllers/adminBookingController.ts",
        "x-callers": [
          "adminWeb"
        ]
      }
    },
    "/api/admin/bookings/{id}/assignment-candidates": {
      "get": {
        "summary": "ctrl.getCandidates — bookings",
        "operationId": "get__api_admin_bookings_id_assignment_candidates",
        "tags": [
          "bookings"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Envelope declared; payload not yet authored.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Wrapped as `{ status: \"success\", data: … }`.",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    }
                  },
                  "x-payload-keys": [
                    "data",
                    "diagnostics"
                  ]
                }
              }
            }
          }
        },
        "x-guard": "permission",
        "x-permission": "bookings.assign_provider",
        "x-envelope": "status-success",
        "x-payload-keys": [
          "data",
          "diagnostics"
        ],
        "x-parity-rewritten": true,
        "x-source": "src/routes/adminBooking.routes.ts:27",
        "x-controller": "../controllers/adminBookingController.ts",
        "x-callers": [
          "adminWeb"
        ]
      }
    },
    "/api/admin/bookings/{id}/cancel": {
      "post": {
        "summary": "ctrl.cancelBooking — bookings",
        "operationId": "post__api_admin_bookings_id_cancel",
        "tags": [
          "bookings"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Envelope declared; payload not yet authored.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Wrapped as `{ status: \"success\", data: … }`.",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "description": "UNSPECIFIED. No schema has been authored for this operation yet. This is an honest gap, not an empty object: the payload has a real shape and nobody has written it down. A guessed schema would be worse than this, because a client would generate types from it."
                    }
                  }
                }
              }
            }
          }
        },
        "x-guard": "permission",
        "x-permission": "bookings.cancel",
        "x-envelope": "status-success",
        "x-payload-keys": [
          "data"
        ],
        "x-parity-rewritten": true,
        "x-source": "src/routes/adminBooking.routes.ts:33",
        "x-controller": "../controllers/adminBookingController.ts",
        "x-callers": [
          "adminWeb"
        ]
      }
    },
    "/api/admin/bookings/{id}/confirm-provider-assignment": {
      "post": {
        "summary": "ctrl.confirmProviderAssignment — bookings",
        "operationId": "post__api_admin_bookings_id_confirm_provider_assignment",
        "tags": [
          "bookings"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Envelope declared; payload not yet authored.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Wrapped as `{ status: \"success\", data: … }`.",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "description": "UNSPECIFIED. No schema has been authored for this operation yet. This is an honest gap, not an empty object: the payload has a real shape and nobody has written it down. A guessed schema would be worse than this, because a client would generate types from it."
                    }
                  }
                }
              }
            }
          }
        },
        "x-guard": "permission",
        "x-permission": "bookings.confirm_on_behalf",
        "x-envelope": "status-success",
        "x-payload-keys": [
          "data"
        ],
        "x-parity-rewritten": true,
        "x-source": "src/routes/adminBooking.routes.ts:31",
        "x-controller": "../controllers/adminBookingController.ts",
        "x-callers": [
          "adminWeb"
        ]
      }
    },
    "/api/admin/bookings/{id}/escalate": {
      "post": {
        "summary": "ctrl.escalateBooking — bookings",
        "operationId": "post__api_admin_bookings_id_escalate",
        "tags": [
          "bookings"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Envelope declared; payload not yet authored.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Wrapped as `{ status: \"success\", data: … }`.",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "description": "UNSPECIFIED. No schema has been authored for this operation yet. This is an honest gap, not an empty object: the payload has a real shape and nobody has written it down. A guessed schema would be worse than this, because a client would generate types from it."
                    }
                  }
                }
              }
            }
          }
        },
        "x-guard": "permission",
        "x-permission": "bookings.escalate",
        "x-envelope": "status-success",
        "x-payload-keys": [
          "data"
        ],
        "x-parity-rewritten": true,
        "x-source": "src/routes/adminBooking.routes.ts:34",
        "x-controller": "../controllers/adminBookingController.ts",
        "x-callers": [
          "adminWeb"
        ]
      }
    },
    "/api/admin/bookings/{id}/notes": {
      "get": {
        "summary": "ctrl.getNotes — bookings",
        "operationId": "get__api_admin_bookings_id_notes",
        "tags": [
          "bookings"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Authored against the service.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Wrapped as `{ status: \"success\", data: … }`.",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      },
                      "description": "Raw note rows, SNAKE_CASE, no mapper."
                    }
                  }
                }
              }
            }
          }
        },
        "x-guard": "permission",
        "x-permission": "bookings.details.view",
        "x-envelope": "status-success",
        "x-payload-keys": [
          "data"
        ],
        "x-parity-rewritten": true,
        "x-source": "src/routes/adminBooking.routes.ts:24",
        "x-controller": "../controllers/adminBookingController.ts",
        "x-derived-from": "adminBookingService.getBookingNotes — returns res.rows, RAW",
        "x-callers": [
          "adminWeb"
        ]
      },
      "post": {
        "summary": "ctrl.addNote — bookings",
        "operationId": "post__api_admin_bookings_id_notes",
        "tags": [
          "bookings"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Authored against the service.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Wrapped as `{ status: \"success\", data: … }`.",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "type": "object",
                      "additionalProperties": true,
                      "description": "The raw inserted row, SNAKE_CASE. Same shape as an item of the list above — which is worth saying, because the equivalent pair on the onboarding cases and the communications reports do NOT agree with each other."
                    }
                  }
                }
              }
            }
          }
        },
        "x-guard": "permission",
        "x-permission": "bookings.notes.add",
        "x-envelope": "status-success",
        "x-payload-keys": [
          "data"
        ],
        "x-parity-rewritten": true,
        "x-source": "src/routes/adminBooking.routes.ts:25",
        "x-controller": "../controllers/adminBookingController.ts",
        "x-derived-from": "adminBookingService.addBookingNote — returns res.rows[0], the RAW inserted row",
        "x-callers": [
          "adminWeb"
        ]
      }
    },
    "/api/admin/bookings/{id}/reassign": {
      "post": {
        "summary": "ctrl.reassignProvider — bookings",
        "operationId": "post__api_admin_bookings_id_reassign",
        "tags": [
          "bookings"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Envelope declared; payload not yet authored.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Wrapped as `{ status: \"success\", data: … }`.",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "description": "UNSPECIFIED. No schema has been authored for this operation yet. This is an honest gap, not an empty object: the payload has a real shape and nobody has written it down. A guessed schema would be worse than this, because a client would generate types from it."
                    }
                  }
                }
              }
            }
          }
        },
        "x-guard": "permission",
        "x-permission": "bookings.reassign_provider",
        "x-envelope": "status-success",
        "x-payload-keys": [
          "data"
        ],
        "x-parity-rewritten": true,
        "x-source": "src/routes/adminBooking.routes.ts:30",
        "x-controller": "../controllers/adminBookingController.ts",
        "x-callers": [
          "adminWeb"
        ]
      }
    },
    "/api/admin/bookings/{id}/reschedule": {
      "post": {
        "summary": "ctrl.rescheduleBooking — bookings",
        "operationId": "post__api_admin_bookings_id_reschedule",
        "tags": [
          "bookings"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Envelope declared; payload not yet authored.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Wrapped as `{ status: \"success\", data: … }`.",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "description": "UNSPECIFIED. No schema has been authored for this operation yet. This is an honest gap, not an empty object: the payload has a real shape and nobody has written it down. A guessed schema would be worse than this, because a client would generate types from it."
                    }
                  }
                }
              }
            }
          }
        },
        "x-guard": "permission",
        "x-permission": "bookings.reschedule",
        "x-envelope": "status-success",
        "x-payload-keys": [
          "data"
        ],
        "x-parity-rewritten": true,
        "x-source": "src/routes/adminBooking.routes.ts:32",
        "x-controller": "../controllers/adminBookingController.ts",
        "x-callers": [
          "adminWeb"
        ]
      }
    },
    "/api/admin/bookings/{id}/timeline": {
      "get": {
        "summary": "ctrl.getTimeline — bookings",
        "operationId": "get__api_admin_bookings_id_timeline",
        "tags": [
          "bookings"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Authored against the service.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Wrapped as `{ status: \"success\", data: … }`.",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      },
                      "description": "RAW rows from TWO tables merged — booking tracking plus admin timeline — and sorted by created_at in JS. So the item shape is not uniform: a row from one source does not carry the columns of the other. Snake_case, no mapper."
                    }
                  }
                }
              }
            }
          }
        },
        "x-guard": "permission",
        "x-permission": "bookings.timeline.view",
        "x-envelope": "status-success",
        "x-payload-keys": [
          "data"
        ],
        "x-parity-rewritten": true,
        "x-source": "src/routes/adminBooking.routes.ts:23",
        "x-controller": "../controllers/adminBookingController.ts",
        "x-derived-from": "adminBookingService.getBookingTimeline",
        "x-note": "Because the merge is done in memory, the sort is over the ROWS RETURNED, not over the whole history — each side is fetched with its own limits first.",
        "x-callers": [
          "adminWeb"
        ]
      }
    },
    "/api/admin/bookings/metrics": {
      "get": {
        "summary": "ctrl.getMetrics — bookings",
        "operationId": "get__api_admin_bookings_metrics",
        "tags": [
          "bookings"
        ],
        "responses": {
          "200": {
            "description": "Authored against the service.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Wrapped as `{ status: \"success\", data: … }`.",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/AdminBookingMetrics"
                    }
                  }
                }
              }
            }
          }
        },
        "x-guard": "permission",
        "x-permission": "bookings.view",
        "x-envelope": "status-success",
        "x-payload-keys": [
          "data"
        ],
        "x-parity-rewritten": true,
        "x-source": "src/routes/adminBooking.routes.ts:12",
        "x-controller": "../controllers/adminBookingController.ts",
        "x-derived-from": "adminBookingService.getAdminBookingMetrics",
        "x-note": "TWO FIELDS ARE HARD-CODED ZEROS — paymentExceptions and lateJobs. They are constants, not measurements. See the schema.",
        "x-callers": [
          "adminWeb"
        ]
      }
    },
    "/api/admin/bookings/slot-candidates": {
      "get": {
        "summary": "ctrl.getSlotCandidates — bookings",
        "operationId": "get__api_admin_bookings_slot_candidates",
        "tags": [
          "bookings"
        ],
        "responses": {
          "200": {
            "description": "Envelope declared; payload not yet authored.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Wrapped as `{ status: \"success\", data: … }`.",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "description": "UNSPECIFIED. No schema has been authored for this operation yet. This is an honest gap, not an empty object: the payload has a real shape and nobody has written it down. A guessed schema would be worse than this, because a client would generate types from it."
                    }
                  }
                }
              }
            }
          }
        },
        "x-guard": "permission",
        "x-permission": "bookings.create",
        "x-envelope": "status-success",
        "x-payload-keys": [
          "data"
        ],
        "x-parity-rewritten": true,
        "x-source": "src/routes/adminBooking.routes.ts:13",
        "x-controller": "../controllers/adminBookingController.ts",
        "x-callers": [
          "adminWeb"
        ]
      }
    },
    "/api/admin/catalog": {
      "get": {
        "summary": "ctrl.getCatalog — catalog",
        "operationId": "get__api_admin_catalog",
        "tags": [
          "catalog"
        ],
        "responses": {
          "200": {
            "description": "Envelope declared; payload not yet authored.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Wrapped as `{ status: \"success\", data: … }`.",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "description": "UNSPECIFIED. No schema has been authored for this operation yet. This is an honest gap, not an empty object: the payload has a real shape and nobody has written it down. A guessed schema would be worse than this, because a client would generate types from it."
                    }
                  }
                }
              }
            }
          }
        },
        "x-guard": "permission",
        "x-permission": "services.view",
        "x-envelope": "status-success",
        "x-payload-keys": [
          "data"
        ],
        "x-parity-rewritten": false,
        "x-source": "src/routes/catalogAdmin.routes.ts:30",
        "x-controller": "../controllers/catalogAdminController.ts",
        "x-callers": [
          "adminWeb"
        ]
      }
    },
    "/api/admin/catalog/categories": {
      "get": {
        "summary": "ctrl.listCategories — catalog",
        "operationId": "get__api_admin_catalog_categories",
        "tags": [
          "catalog"
        ],
        "responses": {
          "200": {
            "description": "Authored against the service.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Wrapped as `{ status: \"success\", data: … }`.",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AdminCatalogCategory"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-guard": "permission",
        "x-permission": "services.view",
        "x-envelope": "status-success",
        "x-payload-keys": [
          "data"
        ],
        "x-parity-rewritten": false,
        "x-source": "src/routes/catalogAdmin.routes.ts:44",
        "x-controller": "../controllers/catalogAdminController.ts",
        "x-derived-from": "catalogAdminService.listCategories",
        "x-note": "Archived categories are excluded unless `includeArchived` is set.",
        "x-callers": [
          "adminWeb"
        ]
      },
      "post": {
        "summary": "ctrl.createCategory — catalog",
        "operationId": "post__api_admin_catalog_categories",
        "tags": [
          "catalog"
        ],
        "responses": {
          "200": {
            "description": "Envelope declared; payload not yet authored.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Wrapped as `{ status: \"success\", data: … }`.",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "description": "UNSPECIFIED. No schema has been authored for this operation yet. This is an honest gap, not an empty object: the payload has a real shape and nobody has written it down. A guessed schema would be worse than this, because a client would generate types from it."
                    }
                  }
                }
              }
            }
          }
        },
        "x-guard": "permission",
        "x-permission": "services.offering.create",
        "x-envelope": "status-success",
        "x-payload-keys": [
          "data"
        ],
        "x-parity-rewritten": false,
        "x-source": "src/routes/catalogAdmin.routes.ts:47",
        "x-controller": "../controllers/catalogAdminController.ts",
        "x-callers": [
          "adminWeb"
        ]
      }
    },
    "/api/admin/catalog/categories/{categoryId}": {
      "patch": {
        "summary": "ctrl.updateCategory — catalog",
        "operationId": "patch__api_admin_catalog_categories_categoryId",
        "tags": [
          "catalog"
        ],
        "parameters": [
          {
            "name": "categoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Envelope declared; payload not yet authored.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Wrapped as `{ status: \"success\", data: … }`.",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "description": "UNSPECIFIED. No schema has been authored for this operation yet. This is an honest gap, not an empty object: the payload has a real shape and nobody has written it down. A guessed schema would be worse than this, because a client would generate types from it."
                    }
                  }
                }
              }
            }
          }
        },
        "x-guard": "permission",
        "x-permission": "services.offering.edit",
        "x-envelope": "status-success",
        "x-payload-keys": [
          "data"
        ],
        "x-parity-rewritten": false,
        "x-source": "src/routes/catalogAdmin.routes.ts:56",
        "x-controller": "../controllers/catalogAdminController.ts",
        "x-callers": [
          "adminWeb"
        ]
      }
    },
    "/api/admin/catalog/categories/{categoryId}/status": {
      "patch": {
        "summary": "ctrl.setCategoryStatus — catalog",
        "operationId": "patch__api_admin_catalog_categories_categoryId_status",
        "tags": [
          "catalog"
        ],
        "parameters": [
          {
            "name": "categoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Envelope declared; payload not yet authored.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Wrapped as `{ status: \"success\", data: … }`.",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "description": "UNSPECIFIED. No schema has been authored for this operation yet. This is an honest gap, not an empty object: the payload has a real shape and nobody has written it down. A guessed schema would be worse than this, because a client would generate types from it."
                    }
                  }
                }
              }
            }
          }
        },
        "x-guard": "permission",
        "x-permission": "services.offering.archive",
        "x-envelope": "status-success",
        "x-payload-keys": [
          "data"
        ],
        "x-parity-rewritten": false,
        "x-source": "src/routes/catalogAdmin.routes.ts:53",
        "x-controller": "../controllers/catalogAdminController.ts",
        "x-callers": [
          "adminWeb"
        ]
      }
    },
    "/api/admin/catalog/categories/reorder": {
      "post": {
        "summary": "ctrl.reorderCategories — catalog",
        "operationId": "post__api_admin_catalog_categories_reorder",
        "tags": [
          "catalog"
        ],
        "responses": {
          "200": {
            "description": "Envelope declared; payload not yet authored.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Wrapped as `{ status: \"success\", data: … }`.",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "description": "UNSPECIFIED. No schema has been authored for this operation yet. This is an honest gap, not an empty object: the payload has a real shape and nobody has written it down. A guessed schema would be worse than this, because a client would generate types from it."
                    }
                  }
                }
              }
            }
          }
        },
        "x-guard": "permission",
        "x-permission": "services.offering.edit",
        "x-envelope": "status-success",
        "x-payload-keys": [
          "data"
        ],
        "x-parity-rewritten": false,
        "x-source": "src/routes/catalogAdmin.routes.ts:50",
        "x-controller": "../controllers/catalogAdminController.ts",
        "x-callers": [
          "adminWeb"
        ]
      }
    },
    "/api/admin/catalog/content-gaps": {
      "get": {
        "summary": "ctrl.getContentGaps — catalog",
        "operationId": "get__api_admin_catalog_content_gaps",
        "tags": [
          "catalog"
        ],
        "responses": {
          "200": {
            "description": "Authored against the service.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Wrapped as `{ status: \"success\", data: … }`.",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      },
                      "description": "Legacy families that still carry provider intent — an employee_services link — but have produced NO canonical specific service. These are real service areas a provider was approved for, so the approvals stay visible rather than being deleted; what to create under them is a product decision, not a migration."
                    }
                  }
                }
              }
            }
          }
        },
        "x-guard": "permission",
        "x-permission": "services.view",
        "x-envelope": "status-success",
        "x-payload-keys": [
          "data"
        ],
        "x-parity-rewritten": false,
        "x-source": "src/routes/catalogAdmin.routes.ts:36",
        "x-controller": "../controllers/catalogAdminController.ts",
        "x-derived-from": "catalogAdminService.getCatalogContentGaps",
        "x-note": "An empty list means the legacy tree is fully represented in the canonical catalog.",
        "x-callers": [
          "adminWeb"
        ]
      }
    },
    "/api/admin/catalog/services": {
      "get": {
        "summary": "ctrl.listServices — catalog",
        "operationId": "get__api_admin_catalog_services",
        "tags": [
          "catalog"
        ],
        "responses": {
          "200": {
            "description": "Authored against the service.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Wrapped as `{ status: \"success\", data: … }`.",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "items",
                        "meta"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/AdminCatalogService"
                          }
                        },
                        "meta": {
                          "type": "object",
                          "required": [
                            "total",
                            "page",
                            "limit"
                          ],
                          "properties": {
                            "total": {
                              "type": "integer",
                              "description": "From a window COUNT carried on the rows themselves — so it is 0 when the page is empty, including a page beyond the end."
                            },
                            "page": {
                              "type": "integer"
                            },
                            "limit": {
                              "type": "integer"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-guard": "permission",
        "x-permission": "services.view",
        "x-envelope": "status-success",
        "x-payload-keys": [
          "data"
        ],
        "x-parity-rewritten": false,
        "x-source": "src/routes/catalogAdmin.routes.ts:80",
[...]
