{
  "openapi": "3.1.0",
  "info": {
    "title": "Servana API — canonical v1",
    "version": "1.0.0",
    "description": "The canonical Servana contract. Generated from src/api/v1/contract.ts — do not edit by hand; `npm run api:docs` rewrites it and the contract test fails if it drifts.\n\nOperations marked `x-implemented: false` are DOCUMENTED BUT NOT MOUNTED. They exist so the legacy migration matrix can name a canonical successor before it is built, and they will 404.\n\nRoutes under /api/v1 are exempt from the cross-platform field-parity middleware that rewrites every other response, so the shapes below are exactly what the wire carries."
  },
  "servers": [
    {
      "url": "https://servana.com.ph",
      "description": "Production"
    },
    {
      "url": "http://localhost:8000",
      "description": "Local"
    }
  ],
  "paths": {
    "/api/v1/catalog": {
      "get": {
        "operationId": "catalog.browse",
        "summary": "The full public catalog tree: categories, their subcategories and their services.",
        "tags": [
          "catalog"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "services/catalogPublicService.getPublicCatalog + getPublicCatalogSummary",
        "x-legacy": [
          {
            "method": "GET",
            "path": "/api/catalog",
            "disposition": "ALIAS_TEMPORARILY"
          },
          {
            "method": "GET",
            "path": "/api/services/full",
            "disposition": "CANONICALIZE"
          }
        ],
        "x-callers": {
          "customerMobile": "planned",
          "customerWeb": "planned",
          "providerMobile": "n/a",
          "providerWeb": "n/a",
          "admin": "n/a"
        },
        "x-observability-owner": "catalog",
        "security": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CatalogTree"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/telemetry": {
      "post": {
        "operationId": "telemetry.ingest",
        "summary": "Accept a small, closed set of scrubbed worker-app events. No free text, ever.",
        "tags": [
          "telemetry"
        ],
        "x-implemented": true,
        "x-idempotent": false,
        "x-domain-service": "services/telemetryService.recordTelemetryEvents",
        "x-legacy": [],
        "x-callers": {
          "customerMobile": "n/a",
          "customerWeb": "n/a",
          "providerMobile": "planned",
          "providerWeb": "planned",
          "admin": "n/a"
        },
        "x-observability-owner": "platform",
        "security": [
          {
            "firebaseIdToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TelemetryIngestRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/TelemetryIngestResult"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "TOKEN_EXPIRED | TOKEN_REVOKED | UNAUTHENTICATED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "FIRST-PARTY by decision, not by default — see docs/TELEMETRY_DECISION.md. The worker app scrubs to an allowlist carrying no name, phone, location or token, but it still carries bookingRef, and RA 10173 s3(g) makes information personal when identity can be \"reasonably and directly ascertained by the entity holding the information\". Servana holds the bookings table. So the scrubbed payload is still personal data in our hands, and a foreign sink would be a cross-border transfer engaging s21 accountability, NPC model contractual clauses, and registration above 1,000 data subjects. The server re-scrubs from its own allowlist rather than trusting the client: a server that trusts a client's scrubbing has one control, not two."
      }
    },
    "/api/v1/client-config": {
      "get": {
        "operationId": "clientConfig.read",
        "summary": "The minimum client version that may run, per platform. The only recall a released mobile build has.",
        "tags": [
          "health"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "api/v1/domains/clientConfig.readClientConfig",
        "x-legacy": [],
        "x-callers": {
          "customerMobile": "planned",
          "customerWeb": "n/a",
          "providerMobile": "planned",
          "providerWeb": "n/a",
          "admin": "n/a"
        },
        "x-observability-owner": "platform",
        "security": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ClientConfig"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Public because the client being recalled may be too old to authenticate, and a kill switch reachable only with a credential cannot kill the builds that most need it. Served from a JSON file, not the database: a recall is pulled during an incident, and the incident this platform actually had was every database-backed read returning 500 for six days. Editing the file takes effect within ~2 minutes with no restart and no deploy. The server fails OPEN — a missing or malformed file serves a permissive 0.0.0 floor — because the client fails CLOSED, and two closed halves would let one deleted file brick every installed app at once."
      }
    },
    "/api/v1/health": {
      "get": {
        "operationId": "health.build",
        "summary": "The commit this build was made from. Public, and carries nothing else.",
        "tags": [
          "health"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "api/v1/domains/health.readBuildInfo",
        "x-legacy": [],
        "x-callers": {
          "customerMobile": "n/a",
          "customerWeb": "n/a",
          "providerMobile": "n/a",
          "providerWeb": "n/a",
          "admin": "n/a"
        },
        "x-observability-owner": "platform",
        "security": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/BuildInfo"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Reads dist/BUILD_INFO.json, which deploy.yml stamps on every deploy. It answers the one question a deploy cannot otherwise be asked from outside: which commit is actually serving. A deploy whose migration step fails stops short of the PM2 restart, so the old code keeps serving and nothing outward says so."
      }
    },
    "/api/v1/openapi.json": {
      "get": {
        "operationId": "health.contract",
        "summary": "The OpenAPI document this process implements, with its sha256 in a header.",
        "tags": [
          "health"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "api/v1/domains/health.servedContract",
        "x-legacy": [],
        "x-callers": {
          "customerMobile": "planned",
          "customerWeb": "planned",
          "providerMobile": "planned",
          "providerWeb": "planned",
          "admin": "planned"
        },
        "x-observability-owner": "platform",
        "security": [
          {
            "firebaseIdToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/OpenApiDocument"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "TOKEN_EXPIRED | TOKEN_REVOKED | UNAUTHENTICATED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "TAB 08. Before this the document was served at no path at all, so a client could only compare its pin against a git CHECKOUT — a statement about a repository, not about a server. The portal reported its pin going stale twice in one session and could not tell a shape change from an annotation-only one without diffing 530 kB by hand. AUTHENTICATED, not public, unlike health.build. Build provenance is four fields and exists to be checkable by someone who has no credential; a full API surface is a map, and every client that needs it already holds a token. `health.build` stays public because a provenance check that needs a credential can only be run by someone who already has one — that argument does not transfer to the whole contract. Every /api/v1 response also carries the same digest in x-contract-sha256, so a client detects staleness with one cheap request and no parsing, which is what the book asked for. This endpoint is for when the answer is yes and it wants the document. Answers in the usual v1 envelope. A bare document would be marginally more convenient for a generator pointed straight at the URL, and it would be the only endpoint of ninety-five that did not answer { data } — an exception to that shape is how the shape stops being relied upon."
      }
    },
    "/api/v1/catalog/summary": {
      "get": {
        "operationId": "catalog.summary",
        "summary": "Counts and last-updated stamp for the catalog, for cache validation.",
        "tags": [
          "catalog"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "services/catalogPublicService.getPublicCatalogSummary",
        "x-legacy": [
          {
            "method": "GET",
            "path": "/api/catalog/summary",
            "disposition": "ALIAS_TEMPORARILY"
          }
        ],
        "x-callers": {
          "customerMobile": "planned",
          "customerWeb": "planned",
          "providerMobile": "n/a",
          "providerWeb": "n/a",
          "admin": "n/a"
        },
        "x-observability-owner": "catalog",
        "security": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CatalogSummary"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/catalog/services": {
      "get": {
        "operationId": "catalog.services.list",
        "summary": "Flat list of every bookable service, for search and deep links.",
        "tags": [
          "catalog"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "services/catalogPublicService.listPublicServices",
        "x-legacy": [
          {
            "method": "GET",
            "path": "/api/catalog/services",
            "disposition": "ALIAS_TEMPORARILY"
          }
        ],
        "x-callers": {
          "customerMobile": "planned",
          "customerWeb": "planned",
          "providerMobile": "n/a",
          "providerWeb": "n/a",
          "admin": "n/a"
        },
        "x-observability-owner": "catalog",
        "security": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CatalogServiceList"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/catalog/services/{serviceId}/serviceability": {
      "get": {
        "operationId": "catalog.services.serviceability",
        "summary": "Whether a service can be booked at a given point, before the customer fills in a form.",
        "tags": [
          "catalog"
        ],
        "deprecated": false,
        "x-status": "planned",
        "x-implemented": false,
        "x-idempotent": true,
        "x-domain-service": "services/catalogPublicService.getServiceability",
        "x-legacy": [
          {
            "method": "GET",
            "path": "/api/catalog/services/:serviceId/serviceability",
            "disposition": "CANONICALIZE"
          }
        ],
        "x-callers": {
          "customerMobile": "planned",
          "customerWeb": "planned",
          "providerMobile": "n/a",
          "providerWeb": "n/a",
          "admin": "n/a"
        },
        "x-observability-owner": "catalog",
        "security": [],
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Canonical services.id"
          },
          {
            "name": "lat",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Latitude of the service address, as a decimal degree"
          },
          {
            "name": "lon",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Longitude of the service address, as a decimal degree"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CatalogServiceability"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "The verdict createBooking would reach, offered before the journey rather than at the end of it: today a customer picks an address, a date and a payment method and only then learns \"Service not available in your area.\" It resolves the service family with the statement createBooking uses, so the pre-check cannot promise a booking the server will refuse. It answers a verdict and never the coverage discs or the legacy id, which catalogPublicService withholds deliberately (§11, §58)."
      }
    },
    "/api/v1/catalog/services/{serviceId}": {
      "get": {
        "operationId": "catalog.services.get",
        "summary": "One service by its canonical services.id, including its place in the hierarchy.",
        "tags": [
          "catalog"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "services/catalogPublicService.getServiceDetail",
        "x-legacy": [
          {
            "method": "GET",
            "path": "/api/catalog/services/:serviceId",
            "disposition": "ALIAS_TEMPORARILY"
          }
        ],
        "x-callers": {
          "customerMobile": "planned",
          "customerWeb": "planned",
          "providerMobile": "n/a",
          "providerWeb": "n/a",
          "admin": "n/a"
        },
        "x-observability-owner": "catalog",
        "security": [],
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Canonical services.id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CatalogServiceDetail"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "CATALOG_SERVICE_NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Deliberately NOT status-filtered: an archived deep link resolves to an honest \"unavailable\" rather than a 404 dead end. `available` folds in subcategory and category status."
      }
    },
    "/api/v1/me": {
      "get": {
        "operationId": "identity.me",
        "summary": "The authenticated caller, whatever their role.",
        "tags": [
          "identity"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "services/identityService.getIdentity",
        "x-legacy": [
          {
            "method": "GET",
            "path": "/api/auth/me",
            "disposition": "ALIAS_TEMPORARILY"
          },
          {
            "method": "GET",
            "path": "/api/user/profile",
            "disposition": "ROLE_SPECIFIC"
          }
        ],
        "x-callers": {
          "customerMobile": "planned",
          "customerWeb": "planned",
          "providerMobile": "migrated",
          "providerWeb": "migrated",
          "admin": "planned"
        },
        "x-observability-owner": "identity",
        "security": [
          {
            "firebaseIdToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Identity"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "TOKEN_EXPIRED | TOKEN_REVOKED | UNAUTHENTICATED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "me.patch",
        "summary": "Changes the caller's own account record.",
        "tags": [
          "account"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "services/account/accountService.patchAccount",
        "x-legacy": [
          {
            "method": "PUT",
            "path": "/api/user/updateprofile",
            "disposition": "ALIAS_TEMPORARILY"
          }
        ],
        "x-callers": {
          "customerMobile": "legacy",
          "customerWeb": "legacy",
          "providerMobile": "legacy",
          "providerWeb": "legacy",
          "admin": "planned"
        },
        "x-observability-owner": "account",
        "security": [
          {
            "firebaseIdToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountPatch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Account"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "TOKEN_EXPIRED | TOKEN_REVOKED | UNAUTHENTICATED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "ACCOUNT_FIELD_NOT_WRITABLE",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Verified identifiers - email and mobile - are NOT writable here. Changing one needs the re-verification workflow, and a PATCH that accepted them would be a way to move a verified identifier without proving possession of the new one."
      }
    },
    "/api/v1/bookings": {
      "get": {
        "operationId": "bookings.listMine",
        "summary": "The caller's own bookings. Identity comes from the token, never from a parameter.",
        "tags": [
          "bookings"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "services/bookingService.getBookingsByUserId + formatBookings",
        "x-legacy": [
          {
            "method": "GET",
            "path": "/api/users/:userId/bookings",
            "disposition": "ALIAS_TEMPORARILY"
          }
        ],
        "x-callers": {
          "customerMobile": "legacy",
          "customerWeb": "legacy",
          "providerMobile": "n/a",
          "providerWeb": "n/a",
          "admin": "n/a"
        },
        "x-observability-owner": "bookings",
        "security": [
          {
            "firebaseIdToken": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Page size, 1-100, default 20"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Rows to skip, default 0"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/BookingList"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "TOKEN_EXPIRED | TOKEN_REVOKED | UNAUTHENTICATED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Paginated at the API boundary. The underlying service returns the whole set, so this bounds the RESPONSE, not the query — noted in the matrix as a follow-up for the bookings domain command."
      }
    },
    "/api/v1/bookings/{bookingId}": {
      "get": {
        "operationId": "bookings.get",
        "summary": "One booking, if the caller is its customer, its active provider, or an admin.",
        "tags": [
          "bookings"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "services/bookingAccessService.assertBookingAccess + bookingService.getBookingById",
        "x-legacy": [
          {
            "method": "GET",
            "path": "/api/:id",
            "disposition": "ALIAS_TEMPORARILY"
          }
        ],
        "x-callers": {
          "customerMobile": "legacy",
          "customerWeb": "legacy",
          "providerMobile": "legacy",
          "providerWeb": "planned",
          "admin": "planned"
        },
        "x-observability-owner": "bookings",
        "security": [
          {
            "firebaseIdToken": []
          }
        ],
        "parameters": [
          {
            "name": "bookingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "bookings.id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Booking"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "TOKEN_EXPIRED | TOKEN_REVOKED | UNAUTHENTICATED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "BOOKING_ACCESS_DENIED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "BOOKING_NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bookings/{bookingId}/timeline": {
      "get": {
        "operationId": "bookings.timeline",
        "summary": "A booking's operational history, voiced for the customer.",
        "tags": [
          "bookings"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "services/bookingAccessService.assertBookingAccess + bookingService.getCustomerBookingTimeline",
        "x-legacy": [
          {
            "method": "GET",
            "path": "/api/:id/timeline",
            "disposition": "ALIAS_TEMPORARILY"
          },
          {
            "method": "GET",
            "path": "/api/provider/bookings/:bookingId/timeline",
            "disposition": "ROLE_SPECIFIC"
          }
        ],
        "x-callers": {
          "customerMobile": "legacy",
          "customerWeb": "planned",
          "providerMobile": "n/a",
          "providerWeb": "n/a",
          "admin": "n/a"
        },
        "x-observability-owner": "bookings",
        "security": [
          {
            "firebaseIdToken": []
          }
        ],
        "parameters": [
          {
            "name": "bookingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "bookings.id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/BookingTimeline"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "TOKEN_EXPIRED | TOKEN_REVOKED | UNAUTHENTICATED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "BOOKING_ACCESS_DENIED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "BOOKING_NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/provider/jobs": {
      "get": {
        "operationId": "provider.jobs.list",
        "summary": "The authenticated provider's job cards.",
        "tags": [
          "provider-jobs"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "services/technicianService.getJobCardsByWorker + controllers/jobCardView.formatJobCard",
        "x-legacy": [
          {
            "method": "GET",
            "path": "/api/worker/job-cards",
            "disposition": "ALIAS_TEMPORARILY"
          },
          {
            "method": "GET",
            "path": "/api/workers/:workerId/job-cards",
            "disposition": "ALIAS_TEMPORARILY"
          }
        ],
        "x-callers": {
          "customerMobile": "n/a",
          "customerWeb": "n/a",
          "providerMobile": "migrated",
          "providerWeb": "migrated",
          "admin": "n/a"
        },
        "x-observability-owner": "provider-jobs",
        "security": [
          {
            "firebaseIdToken": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Page size, 1-100, default 50"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Rows to skip, default 0"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/JobCardList"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "TOKEN_EXPIRED | TOKEN_REVOKED | UNAUTHENTICATED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "PROVIDER_ROLE_REQUIRED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Three paths, one domain service. This is the clearest centralization case in the backend: two clients, two shapes, one query."
      }
    },
    "/api/v1/provider/jobs/{bookingId}": {
      "get": {
        "operationId": "provider.jobs.get",
        "summary": "One job card, scoped to the authenticated provider's own assignment.",
        "tags": [
          "provider-jobs"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "services/technicianService.getJobCardByWorker + controllers/jobCardView.formatJobCard",
        "x-legacy": [
          {
            "method": "GET",
            "path": "/api/worker/job-cards/:bookingId",
            "disposition": "ALIAS_TEMPORARILY"
          }
        ],
        "x-callers": {
          "customerMobile": "n/a",
          "customerWeb": "n/a",
          "providerMobile": "migrated",
          "providerWeb": "migrated",
          "admin": "n/a"
        },
        "x-observability-owner": "provider-jobs",
        "security": [
          {
            "firebaseIdToken": []
          }
        ],
        "parameters": [
          {
            "name": "bookingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "bookings.id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/JobCard"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "TOKEN_EXPIRED | TOKEN_REVOKED | UNAUTHENTICATED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "PROVIDER_ROLE_REQUIRED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/provider/services/overview": {
      "get": {
        "operationId": "provider.services.overview",
        "summary": "Everything about the caller's services: readiness, pause state, actions, applications.",
        "tags": [
          "provider-services"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "services/serviceApplicationService.getProviderServicesOverview",
        "x-legacy": [
          {
            "method": "GET",
            "path": "/api/worker/services-overview",
            "disposition": "ALIAS_TEMPORARILY"
          }
        ],
        "x-callers": {
          "customerMobile": "n/a",
          "customerWeb": "n/a",
          "providerMobile": "planned",
          "providerWeb": "planned",
          "admin": "n/a"
        },
        "x-observability-owner": "provider-services",
        "security": [
          {
            "firebaseIdToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ProviderServicesOverview"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "TOKEN_EXPIRED | TOKEN_REVOKED | UNAUTHENTICATED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "PROVIDER_ROLE_REQUIRED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "NOT subsumed by provider.services.list, and the mandate asked the question directly. That entry returns four fields per row - id, name, status, isActive. This one carries the readiness VERDICT and its reasons, the pause reason, the actions the server will actually honour, and the applications: the whole management screen. Both are published because a client rendering a chip should not pay for the fan-out, and a client rendering the screen cannot rebuild it from four fields without re-deriving readiness on the device - which is precisely the duplicate-truth this contract exists to stop."
      }
    },
    "/api/v1/provider/services/{serviceId}/eligibility": {
      "get": {
        "operationId": "provider.services.eligibility",
        "summary": "May the caller apply for this service, and if not, why?",
        "tags": [
          "provider-services"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "services/serviceApplicationService.evaluateApplicationEligibility",
        "x-legacy": [
          {
            "method": "GET",
            "path": "/api/worker/services/:serviceId/eligibility",
            "disposition": "ALIAS_TEMPORARILY"
          }
        ],
        "x-callers": {
          "customerMobile": "n/a",
          "customerWeb": "n/a",
          "providerMobile": "planned",
          "providerWeb": "planned",
          "admin": "n/a"
        },
        "x-observability-owner": "provider-services",
        "security": [
          {
            "firebaseIdToken": []
          }
        ],
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "service_families.id - a FAMILY id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ServiceApplicationEligibility"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "TOKEN_EXPIRED | TOKEN_REVOKED | UNAUTHENTICATED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "PROVIDER_ROLE_REQUIRED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "CACHING, since the mandate asked: do NOT cache this. It is a composite of provider account state, activation, service availability, offering policy and any open application - five things that change independently and none of them on this route. A cached ELIGIBLE offers a button the submit will refuse; a cached refusal hides work a provider has just become eligible for. Read it when the screen opens and again before offering the action. It is a READ - safe to repeat, and cheap relative to being wrong. The submit re-evaluates server-side regardless, so a race here is a refusal rather than a bad approval."
      }
    },
    "/api/v1/provider/services/{serviceId}/pause": {
      "patch": {
        "operationId": "provider.services.pause",
        "summary": "Stop being offered work for one service, without giving it up.",
        "tags": [
          "provider-services"
        ],
        "x-implemented": true,
        "x-idempotent": false,
        "x-domain-service": "services/technicianService.pauseService",
        "x-legacy": [
          {
            "method": "PATCH",
            "path": "/api/worker/services/:serviceId/pause",
            "disposition": "ALIAS_TEMPORARILY"
          }
        ],
        "x-callers": {
          "customerMobile": "n/a",
          "customerWeb": "n/a",
          "providerMobile": "planned",
          "providerWeb": "planned",
          "admin": "n/a"
        },
        "x-observability-owner": "provider-services",
        "security": [
          {
            "firebaseIdToken": []
          }
        ],
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "service_families.id - a FAMILY id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProviderServicePause"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ProviderServiceState"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "TOKEN_EXPIRED | TOKEN_REVOKED | UNAUTHENTICATED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "PROVIDER_ROLE_REQUIRED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "PROVIDER_SERVICE_ALREADY_PAUSED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "NOT idempotent, and published as such rather than wished otherwise. A repeat is refused with PROVIDER_SERVICE_ALREADY_PAUSED - a DISTINCT code, because the commonest way to reach it is a retry after a request that committed and then timed out. A client that cannot tell that from a genuine conflict shows an error for an operation that worked. Treat it as success-equivalent when retrying. The canonical capability table is updated alongside the legacy row: a pause that touched only one would leave matching offering work the provider has stepped back from."
      }
    },
    "/api/v1/provider/services/{serviceId}/reactivate": {
      "patch": {
        "operationId": "provider.services.reactivate",
        "summary": "Resume being offered work for a paused service.",
        "tags": [
          "provider-services"
        ],
        "x-implemented": true,
        "x-idempotent": false,
        "x-domain-service": "services/technicianService.reactivateService",
        "x-legacy": [
          {
            "method": "PATCH",
            "path": "/api/worker/services/:serviceId/reactivate",
            "disposition": "ALIAS_TEMPORARILY"
          }
        ],
        "x-callers": {
          "customerMobile": "n/a",
          "customerWeb": "n/a",
          "providerMobile": "planned",
          "providerWeb": "planned",
          "admin": "n/a"
        },
        "x-observability-owner": "provider-services",
        "security": [
          {
            "firebaseIdToken": []
          }
        ],
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "service_families.id - a FAMILY id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ProviderServiceState"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "TOKEN_EXPIRED | TOKEN_REVOKED | UNAUTHENTICATED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "PROVIDER_ROLE_REQUIRED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "PROVIDER_SERVICE_NOT_PAUSED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "The matched pair of pause, and the one with the most direct effect on earnings: a provider who cannot reactivate is a provider not being offered work. Migrate the two together - a canonical pause whose reactivate is still legacy can strand somebody."
      }
    },
    "/api/v1/provider/service-applications": {
      "get": {
        "operationId": "provider.serviceApplications.list",
        "summary": "Every service application the caller has made.",
        "tags": [
          "provider-services"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "services/serviceApplicationService.getApplicationsByWorker",
        "x-legacy": [
          {
            "method": "GET",
            "path": "/api/worker/service-applications",
            "disposition": "ALIAS_TEMPORARILY"
          }
        ],
        "x-callers": {
          "customerMobile": "n/a",
          "customerWeb": "n/a",
          "providerMobile": "planned",
          "providerWeb": "planned",
          "admin": "n/a"
        },
        "x-observability-owner": "provider-services",
        "security": [
          {
            "firebaseIdToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ServiceApplicationList"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "TOKEN_EXPIRED | TOKEN_REVOKED | UNAUTHENTICATED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "PROVIDER_ROLE_REQUIRED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "provider.serviceApplications.create",
        "summary": "Apply for a service.",
        "tags": [
          "provider-services"
        ],
        "x-implemented": true,
        "x-idempotent": false,
        "x-domain-service": "services/serviceApplicationService.submitApplication",
        "x-legacy": [
          {
            "method": "POST",
            "path": "/api/worker/service-applications",
            "disposition": "ALIAS_TEMPORARILY"
          }
        ],
        "x-callers": {
          "customerMobile": "n/a",
          "customerWeb": "n/a",
          "providerMobile": "planned",
          "providerWeb": "planned",
          "admin": "n/a"
        },
        "x-observability-owner": "provider-services",
        "security": [
          {
            "firebaseIdToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceApplicationSubmit"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ServiceApplication"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "TOKEN_EXPIRED | TOKEN_REVOKED | UNAUTHENTICATED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "PROVIDER_ROLE_REQUIRED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "CONFLICT",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "`requirementsVersion` is the version the provider was SHOWN. It travels so the server can distinguish an application made against the current requirements from one made against a set that has since changed - the difference between approving and asking for more. Eligibility is re-evaluated server-side here regardless of what the eligibility read said, so a stale client view is a refusal rather than a bad approval."
      }
    },
    "/api/v1/provider/service-applications/{applicationId}": {
      "get": {
        "operationId": "provider.serviceApplications.get",
        "summary": "One application, scoped to the caller.",
        "tags": [
          "provider-services"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "services/serviceApplicationService.getApplicationByWorker",
        "x-legacy": [
          {
            "method": "GET",
            "path": "/api/worker/service-applications/:applicationId",
            "disposition": "ALIAS_TEMPORARILY"
          }
        ],
        "x-callers": {
          "customerMobile": "n/a",
          "customerWeb": "n/a",
          "providerMobile": "planned",
          "providerWeb": "planned",
          "admin": "n/a"
        },
        "x-observability-owner": "provider-services",
        "security": [
          {
            "firebaseIdToken": []
          }
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "worker_service_applications.id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ServiceApplication"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "TOKEN_EXPIRED | TOKEN_REVOKED | UNAUTHENTICATED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "PROVIDER_ROLE_REQUIRED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "provider.serviceApplications.withdraw",
        "summary": "Withdraw an application the provider no longer wants reviewed.",
        "tags": [
          "provider-services"
        ],
        "x-implemented": true,
        "x-idempotent": false,
        "x-domain-service": "services/serviceApplicationService.cancelApplication",
        "x-legacy": [
          {
            "method": "DELETE",
            "path": "/api/worker/service-applications/:applicationId",
            "disposition": "ALIAS_TEMPORARILY"
          }
        ],
        "x-callers": {
          "customerMobile": "n/a",
          "customerWeb": "n/a",
          "providerMobile": "planned",
          "providerWeb": "planned",
          "admin": "n/a"
        },
        "x-observability-owner": "provider-services",
        "security": [
          {
            "firebaseIdToken": []
          }
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "worker_service_applications.id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ServiceApplication"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "TOKEN_EXPIRED | TOKEN_REVOKED | UNAUTHENTICATED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "PROVIDER_ROLE_REQUIRED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "CONFLICT",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "The EIGHTH operation in a cluster the Master Command lists as seven PATHS - service-applications/:id carries both GET and DELETE. Counting paths undercounts the work, and a provider who can apply but not withdraw is stuck waiting on a review they no longer want."
      }
    },
    "/api/v1/provider/service-applications/{applicationId}/resubmit": {
      "post": {
        "operationId": "provider.serviceApplications.resubmit",
        "summary": "Resubmit an application that came back needing more.",
        "tags": [
          "provider-services"
        ],
        "x-implemented": true,
        "x-idempotent": false,
        "x-domain-service": "services/serviceApplicationService.resubmitApplication",
        "x-legacy": [
          {
            "method": "POST",
            "path": "/api/worker/service-applications/:applicationId/resubmit",
            "disposition": "ALIAS_TEMPORARILY"
          }
        ],
        "x-callers": {
          "customerMobile": "n/a",
          "customerWeb": "n/a",
          "providerMobile": "planned",
          "providerWeb": "planned",
          "admin": "n/a"
        },
        "x-observability-owner": "provider-services",
        "security": [
          {
            "firebaseIdToken": []
          }
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "worker_service_applications.id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceApplicationResubmit"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ServiceApplication"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "TOKEN_EXPIRED | TOKEN_REVOKED | UNAUTHENTICATED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "PROVIDER_ROLE_REQUIRED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "CONFLICT | STALE_STATE",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "`expectedVersion` is REQUIRED and is optimistic concurrency (18), not decoration: between loading an application and resubmitting it, a reviewer may have decided. Without it a resubmission silently overwrites a decision the provider never saw. A mismatch is STALE_STATE - the code a client already reloads on - rather than a validation error, because nothing about the request was malformed."
      }
    },
    "/api/v1/provider/presence": {
      "get": {
        "operationId": "provider.presence.get",
        "summary": "Whether the caller is currently available for work, and when that was set.",
        "tags": [
          "provider-presence"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "services/providerOperationalAvailabilityService.getStatus",
        "x-legacy": [
          {
            "method": "GET",
            "path": "/api/provider/location/status",
            "disposition": "ALIAS_TEMPORARILY"
          }
        ],
        "x-callers": {
          "customerMobile": "n/a",
          "customerWeb": "n/a",
          "providerMobile": "planned",
          "providerWeb": "planned",
          "admin": "n/a"
        },
        "x-observability-owner": "provider-presence",
        "security": [
          {
            "firebaseIdToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ProviderPresence"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "TOKEN_EXPIRED | TOKEN_REVOKED | UNAUTHENTICATED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "PROVIDER_ROLE_REQUIRED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "PRESENCE IS BOUND TO THE PROVIDER - not to a session, a device or a job. The mandate asks the question directly and this is the answer. 27 lists what must never change it: a closed app, a logout, an expired token, a dropped socket, a lost network, a restarted device or backend, a missed heartbeat, a stale location, a schedule ending, a booking completing. A second device does not get a second presence, and signing out does not go offline - a provider who closed the app on the bus is still available for the job they are travelling to."
      }
    },
    "/api/v1/provider/presence/online": {
      "post": {
        "operationId": "provider.presence.goOnline",
        "summary": "Become available for work.",
        "tags": [
          "provider-presence"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "services/providerOperationalAvailabilityService.setOnline",
        "x-legacy": [
          {
            "method": "POST",
            "path": "/api/provider/location/go-online",
            "disposition": "ALIAS_TEMPORARILY"
          }
        ],
        "x-callers": {
          "customerMobile": "n/a",
          "customerWeb": "n/a",
          "providerMobile": "planned",
          "providerWeb": "planned",
          "admin": "n/a"
        },
        "x-observability-owner": "provider-presence",
        "security": [
          {
            "firebaseIdToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProviderPresenceOnline"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ProviderPresenceChange"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "TOKEN_EXPIRED | TOKEN_REVOKED | UNAUTHENTICATED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "PROVIDER_ROLE_REQUIRED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Idempotent: going online while already online reaches the same end state. Coordinates are OPTIONAL and are applied only when no location is stored, so going online never overwrites a fresher fix with a stale one. activeProvider: true mirrors the legacy chain exactly. It is on ONLINE and deliberately absent from OFFLINE."
      }
    },
    "/api/v1/provider/presence/offline": {
      "post": {
        "operationId": "provider.presence.goOffline",
        "summary": "Stop being offered work.",
        "tags": [
          "provider-presence"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "services/providerOperationalAvailabilityService.setOffline",
        "x-legacy": [
          {
            "method": "POST",
            "path": "/api/provider/location/go-offline",
            "disposition": "ALIAS_TEMPORARILY"
          }
        ],
        "x-callers": {
          "customerMobile": "n/a",
          "customerWeb": "n/a",
          "providerMobile": "planned",
          "providerWeb": "planned",
          "admin": "n/a"
        },
        "x-observability-owner": "provider-presence",
        "security": [
          {
            "firebaseIdToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ProviderPresenceChange"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "TOKEN_EXPIRED | TOKEN_REVOKED | UNAUTHENTICATED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "PROVIDER_ROLE_REQUIRED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "NO activeProvider rung, and that asymmetry is load-bearing. DENY_ALL in the account-state machine sets canGoOffline: true even for a denied account, because a provider must never be TRAPPED ONLINE - it is the one presence failure with no workaround. Adding the rung here to match its sibling would look like tidying and would strand a suspended provider as available."
      }
    },
    "/api/v1/provider/location": {
      "post": {
        "operationId": "provider.location.report",
        "summary": "Report the provider's current coordinates.",
        "tags": [
          "provider-presence"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "services/technicianService.upsertWorkerLocation",
        "x-legacy": [
          {
            "method": "POST",
            "path": "/api/worker/location",
            "disposition": "ALIAS_TEMPORARILY"
          }
        ],
        "x-callers": {
          "customerMobile": "n/a",
          "customerWeb": "n/a",
          "providerMobile": "planned",
          "providerWeb": "planned",
          "admin": "n/a"
        },
        "x-observability-owner": "provider-presence",
        "security": [
          {
            "firebaseIdToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProviderLocationReport"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ProviderLocationState"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "TOKEN_EXPIRED | TOKEN_REVOKED | UNAUTHENTICATED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "PROVIDER_ROLE_REQUIRED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "TRANSPORT ONLY, and the difference from the legacy route is the point. /api/worker/location accepts isOnline in its body and writes it straight through, so a location ping can flip availability as a side effect - which 27 forbids by name. This route carries COORDINATES ONLY and writes back whatever presence already held. That is not a change to presence semantics: the legacy route is untouched and behaves exactly as before. It is a refusal to carry the hazard into the canonical surface. Coordinates are RANGE-CHECKED before storage - 39 forbids fabricating a location, and a latitude of 999 in a geospatial index is one nobody can later tell from a real fix. RETENTION AND ACCESS: the current fix is a single upserted document per provider, so there is no location HISTORY to retain - a new ping replaces the last. It is readable by the provider themselves, by admin, and by a CUSTOMER only through a booking they own, via GET /api/booking/:id/provider-location, and only while that booking is live. No route on this contract returns another provider location, and this TAB widened nothing."
      }
    },
    "/api/v1/provider/safety/emergency-config": {
      "get": {
        "operationId": "provider.safety.emergencyConfig",
        "summary": "Emergency numbers and guidance for this market.",
        "tags": [
          "provider-presence"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "services/providerSafetyService.PROVIDER_EMERGENCY_CONFIG",
        "x-legacy": [
          {
            "method": "GET",
            "path": "/api/provider/safety/emergency-config",
            "disposition": "ALIAS_TEMPORARILY"
          }
        ],
        "x-callers": {
          "customerMobile": "n/a",
          "customerWeb": "n/a",
          "providerMobile": "planned",
          "providerWeb": "planned",
          "admin": "n/a"
        },
        "x-observability-owner": "provider-presence",
        "security": [
          {
            "firebaseIdToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ProviderEmergencyConfig"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "TOKEN_EXPIRED | TOKEN_REVOKED | UNAUTHENTICATED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "PROVIDER_ROLE_REQUIRED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "STATIC and market-wide. Names no account, reads no row, carries no personal data - so a client may cache it hard, which is the point on a screen somebody opens in an emergency. The disclaimer is load-bearing: Servana cannot dispatch emergency services, and a safety screen implying otherwise would be the most dangerous copy in the product."
      }
    },
    "/api/v1/provider/safety/check-in": {
      "post": {
        "operationId": "provider.safety.checkIn",
        "summary": "Record that the provider is safe at a stage of a job.",
        "tags": [
          "provider-presence"
        ],
        "x-implemented": true,
        "x-idempotent": false,
        "x-domain-service": "services/providerSafetyService.recordCheckIn",
[...]
