{
  "openapi": "3.1.0",
  "info": {
    "title": "Servana API — canonical v1",
    "version": "1.0.0",
    "description": "The canonical Servana contract. Generated from src/api/v1/contract.ts — do not edit by hand; `npm run api:docs` rewrites it and the contract test fails if it drifts.\n\nOperations marked `x-implemented: false` are DOCUMENTED BUT NOT MOUNTED. They exist so the legacy migration matrix can name a canonical successor before it is built, and they will 404.\n\nRoutes under /api/v1 are exempt from the cross-platform field-parity middleware that rewrites every other response, so the shapes below are exactly what the wire carries."
  },
  "servers": [
    {
      "url": "https://servana.com.ph",
      "description": "Production"
    },
    {
      "url": "http://localhost:8000",
      "description": "Local"
    }
  ],
  "paths": {
    "/api/v1/catalog": {
      "get": {
        "operationId": "catalog.browse",
        "summary": "The full public catalog tree: categories, their subcategories and their services.",
        "tags": [
          "catalog"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "services/catalogPublicService.getPublicCatalog + getPublicCatalogSummary",
        "x-legacy": [
          {
            "method": "GET",
            "path": "/api/catalog",
            "disposition": "ALIAS_TEMPORARILY"
          },
          {
            "method": "GET",
            "path": "/api/services/full",
            "disposition": "CANONICALIZE"
          }
        ],
        "x-callers": {
          "customerMobile": "planned",
          "customerWeb": "planned",
          "providerMobile": "n/a",
          "providerWeb": "n/a",
          "admin": "n/a"
        },
        "x-observability-owner": "catalog",
        "security": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CatalogTree"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/telemetry": {
      "post": {
        "operationId": "telemetry.ingest",
        "summary": "Accept a small, closed set of scrubbed worker-app events. No free text, ever.",
        "tags": [
          "telemetry"
        ],
        "x-implemented": true,
        "x-idempotent": false,
        "x-domain-service": "services/telemetryService.recordTelemetryEvents",
        "x-legacy": [],
        "x-callers": {
          "customerMobile": "n/a",
          "customerWeb": "n/a",
          "providerMobile": "planned",
          "providerWeb": "planned",
          "admin": "n/a"
        },
        "x-observability-owner": "platform",
        "security": [
          {
            "firebaseIdToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TelemetryIngestRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/TelemetryIngestResult"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "TOKEN_EXPIRED | TOKEN_REVOKED | UNAUTHENTICATED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "FIRST-PARTY by decision, not by default — see docs/TELEMETRY_DECISION.md. The worker app scrubs to an allowlist carrying no name, phone, location or token, but it still carries bookingRef, and RA 10173 s3(g) makes information personal when identity can be \"reasonably and directly ascertained by the entity holding the information\". Servana holds the bookings table. So the scrubbed payload is still personal data in our hands, and a foreign sink would be a cross-border transfer engaging s21 accountability, NPC model contractual clauses, and registration above 1,000 data subjects. The server re-scrubs from its own allowlist rather than trusting the client: a server that trusts a client's scrubbing has one control, not two."
      }
    },
    "/api/v1/client-config": {
      "get": {
        "operationId": "clientConfig.read",
        "summary": "The minimum client version that may run, per platform. The only recall a released mobile build has.",
        "tags": [
          "health"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "api/v1/domains/clientConfig.readClientConfig",
        "x-legacy": [],
        "x-callers": {
          "customerMobile": "planned",
          "customerWeb": "n/a",
          "providerMobile": "planned",
          "providerWeb": "n/a",
          "admin": "n/a"
        },
        "x-observability-owner": "platform",
        "security": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ClientConfig"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Public because the client being recalled may be too old to authenticate, and a kill switch reachable only with a credential cannot kill the builds that most need it. Served from a JSON file, not the database: a recall is pulled during an incident, and the incident this platform actually had was every database-backed read returning 500 for six days. Editing the file takes effect within ~2 minutes with no restart and no deploy. The server fails OPEN — a missing or malformed file serves a permissive 0.0.0 floor — because the client fails CLOSED, and two closed halves would let one deleted file brick every installed app at once."
      }
    },
    "/api/v1/health": {
      "get": {
        "operationId": "health.build",
        "summary": "The commit this build was made from. Public, and carries nothing else.",
        "tags": [
          "health"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "api/v1/domains/health.readBuildInfo",
        "x-legacy": [],
        "x-callers": {
          "customerMobile": "n/a",
          "customerWeb": "n/a",
          "providerMobile": "n/a",
          "providerWeb": "n/a",
          "admin": "n/a"
        },
        "x-observability-owner": "platform",
        "security": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/BuildInfo"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Reads dist/BUILD_INFO.json, which deploy.yml stamps on every deploy. It answers the one question a deploy cannot otherwise be asked from outside: which commit is actually serving. A deploy whose migration step fails stops short of the PM2 restart, so the old code keeps serving and nothing outward says so."
      }
    },
    "/api/v1/openapi.json": {
      "get": {
        "operationId": "health.contract",
        "summary": "The OpenAPI document this process implements, with its sha256 in a header.",
        "tags": [
          "health"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "api/v1/domains/health.servedContract",
        "x-legacy": [],
        "x-callers": {
          "customerMobile": "planned",
          "customerWeb": "planned",
          "providerMobile": "planned",
          "providerWeb": "planned",
          "admin": "planned"
        },
        "x-observability-owner": "platform",
        "security": [
          {
            "firebaseIdToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/OpenApiDocument"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "TOKEN_EXPIRED | TOKEN_REVOKED | UNAUTHENTICATED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "TAB 08. Before this the document was served at no path at all, so a client could only compare its pin against a git CHECKOUT — a statement about a repository, not about a server. The portal reported its pin going stale twice in one session and could not tell a shape change from an annotation-only one without diffing 530 kB by hand. AUTHENTICATED, not public, unlike health.build. Build provenance is four fields and exists to be checkable by someone who has no credential; a full API surface is a map, and every client that needs it already holds a token. `health.build` stays public because a provenance check that needs a credential can only be run by someone who already has one — that argument does not transfer to the whole contract. Every /api/v1 response also carries the same digest in x-contract-sha256, so a client detects staleness with one cheap request and no parsing, which is what the book asked for. This endpoint is for when the answer is yes and it wants the document. Answers in the usual v1 envelope. A bare document would be marginally more convenient for a generator pointed straight at the URL, and it would be the only endpoint of ninety-five that did not answer { data } — an exception to that shape is how the shape stops being relied upon."
      }
    },
    "/api/v1/catalog/summary": {
      "get": {
        "operationId": "catalog.summary",
        "summary": "Counts and last-updated stamp for the catalog, for cache validation.",
        "tags": [
          "catalog"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "services/catalogPublicService.getPublicCatalogSummary",
        "x-legacy": [
          {
            "method": "GET",
            "path": "/api/catalog/summary",
            "disposition": "ALIAS_TEMPORARILY"
          }
        ],
        "x-callers": {
          "customerMobile": "planned",
          "customerWeb": "planned",
          "providerMobile": "n/a",
          "providerWeb": "n/a",
          "admin": "n/a"
        },
        "x-observability-owner": "catalog",
        "security": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CatalogSummary"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/catalog/services": {
      "get": {
        "operationId": "catalog.services.list",
        "summary": "Flat list of every bookable service, for search and deep links.",
        "tags": [
          "catalog"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "services/catalogPublicService.listPublicServices",
        "x-legacy": [
          {
            "method": "GET",
            "path": "/api/catalog/services",
            "disposition": "ALIAS_TEMPORARILY"
          }
        ],
        "x-callers": {
          "customerMobile": "planned",
          "customerWeb": "planned",
          "providerMobile": "n/a",
          "providerWeb": "n/a",
          "admin": "n/a"
        },
        "x-observability-owner": "catalog",
        "security": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CatalogServiceList"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/catalog/services/{serviceId}/serviceability": {
      "get": {
        "operationId": "catalog.services.serviceability",
        "summary": "Whether a service can be booked at a given point, before the customer fills in a form.",
        "tags": [
          "catalog"
        ],
        "deprecated": false,
        "x-status": "planned",
        "x-implemented": false,
        "x-idempotent": true,
        "x-domain-service": "services/catalogPublicService.getServiceability",
        "x-legacy": [
          {
            "method": "GET",
            "path": "/api/catalog/services/:serviceId/serviceability",
            "disposition": "CANONICALIZE"
          }
        ],
        "x-callers": {
          "customerMobile": "planned",
          "customerWeb": "planned",
          "providerMobile": "n/a",
          "providerWeb": "n/a",
          "admin": "n/a"
        },
        "x-observability-owner": "catalog",
        "security": [],
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Canonical services.id"
          },
          {
            "name": "lat",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Latitude of the service address, as a decimal degree"
          },
          {
            "name": "lon",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Longitude of the service address, as a decimal degree"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CatalogServiceability"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "The verdict createBooking would reach, offered before the journey rather than at the end of it: today a customer picks an address, a date and a payment method and only then learns \"Service not available in your area.\" It resolves the service family with the statement createBooking uses, so the pre-check cannot promise a booking the server will refuse. It answers a verdict and never the coverage discs or the legacy id, which catalogPublicService withholds deliberately (§11, §58)."
      }
    },
    "/api/v1/catalog/services/{serviceId}": {
      "get": {
        "operationId": "catalog.services.get",
        "summary": "One service by its canonical services.id, including its place in the hierarchy.",
        "tags": [
          "catalog"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "services/catalogPublicService.getServiceDetail",
        "x-legacy": [
          {
            "method": "GET",
            "path": "/api/catalog/services/:serviceId",
            "disposition": "ALIAS_TEMPORARILY"
          }
        ],
        "x-callers": {
          "customerMobile": "planned",
          "customerWeb": "planned",
          "providerMobile": "n/a",
          "providerWeb": "n/a",
          "admin": "n/a"
        },
        "x-observability-owner": "catalog",
        "security": [],
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Canonical services.id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CatalogServiceDetail"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "CATALOG_SERVICE_NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Deliberately NOT status-filtered: an archived deep link resolves to an honest \"unavailable\" rather than a 404 dead end. `available` folds in subcategory and category status."
      }
    },
    "/api/v1/me": {
      "get": {
        "operationId": "identity.me",
        "summary": "The authenticated caller, whatever their role.",
        "tags": [
          "identity"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "services/identityService.getIdentity",
        "x-legacy": [
          {
            "method": "GET",
            "path": "/api/auth/me",
            "disposition": "ALIAS_TEMPORARILY"
          },
          {
            "method": "GET",
            "path": "/api/user/profile",
            "disposition": "ROLE_SPECIFIC"
          }
        ],
        "x-callers": {
          "customerMobile": "planned",
          "customerWeb": "planned",
          "providerMobile": "migrated",
          "providerWeb": "migrated",
          "admin": "planned"
        },
        "x-observability-owner": "identity",
        "security": [
          {
            "firebaseIdToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Identity"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "TOKEN_EXPIRED | TOKEN_REVOKED | UNAUTHENTICATED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "me.patch",
        "summary": "Changes the caller's own account record.",
        "tags": [
          "account"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "services/account/accountService.patchAccount",
        "x-legacy": [
          {
            "method": "PUT",
            "path": "/api/user/updateprofile",
            "disposition": "ALIAS_TEMPORARILY"
          }
        ],
        "x-callers": {
          "customerMobile": "legacy",
          "customerWeb": "legacy",
          "providerMobile": "legacy",
          "providerWeb": "legacy",
          "admin": "planned"
        },
        "x-observability-owner": "account",
        "security": [
          {
            "firebaseIdToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountPatch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Account"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "TOKEN_EXPIRED | TOKEN_REVOKED | UNAUTHENTICATED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "ACCOUNT_FIELD_NOT_WRITABLE",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Verified identifiers - email and mobile - are NOT writable here. Changing one needs the re-verification workflow, and a PATCH that accepted them would be a way to move a verified identifier without proving possession of the new one."
      }
    },
    "/api/v1/bookings": {
      "get": {
        "operationId": "bookings.listMine",
        "summary": "The caller's own bookings. Identity comes from the token, never from a parameter.",
        "tags": [
          "bookings"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "services/bookingService.getBookingsByUserId + formatBookings",
        "x-legacy": [
          {
            "method": "GET",
            "path": "/api/users/:userId/bookings",
            "disposition": "ALIAS_TEMPORARILY"
          }
        ],
        "x-callers": {
          "customerMobile": "legacy",
          "customerWeb": "legacy",
          "providerMobile": "n/a",
          "providerWeb": "n/a",
          "admin": "n/a"
        },
        "x-observability-owner": "bookings",
        "security": [
          {
            "firebaseIdToken": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Page size, 1-100, default 20"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Rows to skip, default 0"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/BookingList"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "TOKEN_EXPIRED | TOKEN_REVOKED | UNAUTHENTICATED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Paginated at the API boundary. The underlying service returns the whole set, so this bounds the RESPONSE, not the query — noted in the matrix as a follow-up for the bookings domain command."
      }
    },
    "/api/v1/bookings/{bookingId}": {
      "get": {
        "operationId": "bookings.get",
        "summary": "One booking, if the caller is its customer, its active provider, or an admin.",
        "tags": [
          "bookings"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "services/bookingAccessService.assertBookingAccess + bookingService.getBookingById",
        "x-legacy": [
          {
            "method": "GET",
            "path": "/api/:id",
            "disposition": "ALIAS_TEMPORARILY"
          }
        ],
        "x-callers": {
          "customerMobile": "legacy",
          "customerWeb": "legacy",
          "providerMobile": "legacy",
          "providerWeb": "planned",
          "admin": "planned"
        },
        "x-observability-owner": "bookings",
        "security": [
          {
            "firebaseIdToken": []
          }
        ],
        "parameters": [
          {
            "name": "bookingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "bookings.id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Booking"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "TOKEN_EXPIRED | TOKEN_REVOKED | UNAUTHENTICATED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "BOOKING_ACCESS_DENIED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "BOOKING_NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bookings/{bookingId}/timeline": {
      "get": {
        "operationId": "bookings.timeline",
        "summary": "A booking's operational history, voiced for the customer.",
        "tags": [
          "bookings"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "services/bookingAccessService.assertBookingAccess + bookingService.getCustomerBookingTimeline",
        "x-legacy": [
          {
            "method": "GET",
            "path": "/api/:id/timeline",
            "disposition": "ALIAS_TEMPORARILY"
          },
          {
            "method": "GET",
            "path": "/api/provider/bookings/:bookingId/timeline",
            "disposition": "ROLE_SPECIFIC"
          }
        ],
        "x-callers": {
          "customerMobile": "legacy",
          "customerWeb": "planned",
          "providerMobile": "n/a",
          "providerWeb": "n/a",
          "admin": "n/a"
        },
        "x-observability-owner": "bookings",
        "security": [
          {
            "firebaseIdToken": []
          }
        ],
        "parameters": [
          {
            "name": "bookingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "bookings.id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/BookingTimeline"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "TOKEN_EXPIRED | TOKEN_REVOKED | UNAUTHENTICATED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "BOOKING_ACCESS_DENIED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "BOOKING_NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/provider/jobs": {
      "get": {
        "operationId": "provider.jobs.list",
        "summary": "The authenticated provider's job cards.",
        "tags": [
          "provider-jobs"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "services/technicianService.getJobCardsByWorker + controllers/jobCardView.formatJobCard",
        "x-legacy": [
          {
            "method": "GET",
            "path": "/api/worker/job-cards",
            "disposition": "ALIAS_TEMPORARILY"
          },
          {
            "method": "GET",
            "path": "/api/workers/:workerId/job-cards",
            "disposition": "ALIAS_TEMPORARILY"
          }
        ],
        "x-callers": {
          "customerMobile": "n/a",
          "customerWeb": "n/a",
          "providerMobile": "migrated",
          "providerWeb": "migrated",
          "admin": "n/a"
        },
        "x-observability-owner": "provider-jobs",
        "security": [
          {
            "firebaseIdToken": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Page size, 1-100, default 50"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Rows to skip, default 0"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/JobCardList"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "TOKEN_EXPIRED | TOKEN_REVOKED | UNAUTHENTICATED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "PROVIDER_ROLE_REQUIRED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Three paths, one domain service. This is the clearest centralization case in the backend: two clients, two shapes, one query."
      }
    },
    "/api/v1/provider/jobs/{bookingId}": {
      "get": {
        "operationId": "provider.jobs.get",
        "summary": "One job card, scoped to the authenticated provider's own assignment.",
        "tags": [
          "provider-jobs"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "services/technicianService.getJobCardByWorker + controllers/jobCardView.formatJobCard",
        "x-legacy": [
          {
            "method": "GET",
            "path": "/api/worker/job-cards/:bookingId",
            "disposition": "ALIAS_TEMPORARILY"
          }
        ],
        "x-callers": {
          "customerMobile": "n/a",
          "customerWeb": "n/a",
          "providerMobile": "migrated",
          "providerWeb": "migrated",
          "admin": "n/a"
        },
        "x-observability-owner": "provider-jobs",
        "security": [
          {
            "firebaseIdToken": []
          }
        ],
        "parameters": [
          {
            "name": "bookingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "bookings.id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/JobCard"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "TOKEN_EXPIRED | TOKEN_REVOKED | UNAUTHENTICATED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "PROVIDER_ROLE_REQUIRED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/notifications": {
      "get": {
        "operationId": "notifications.list",
        "summary": "The caller's notifications.",
        "tags": [
          "notifications"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "services/events/notificationInbox.listNotifications",
        "x-legacy": [
          {
            "method": "GET",
            "path": "/api/user/notifications",
            "disposition": "ALIAS_TEMPORARILY"
          }
        ],
        "x-callers": {
          "customerMobile": "legacy",
          "customerWeb": "legacy",
          "providerMobile": "legacy",
          "providerWeb": "migrated",
          "admin": "planned"
        },
        "x-observability-owner": "notifications",
        "security": [
          {
            "firebaseIdToken": []
          }
        ],
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional service-side filter key"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Page size, 1-100, default 50"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Rows to skip, default 0"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/NotificationList"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "TOKEN_EXPIRED | TOKEN_REVOKED | UNAUTHENTICATED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/notifications/unread-count": {
      "get": {
        "operationId": "notifications.unreadCount",
        "summary": "How many unread notifications the caller has.",
        "tags": [
          "notifications"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "services/events/notificationInbox.countUnread",
        "x-legacy": [
          {
            "method": "GET",
            "path": "/api/user/notifications/unread-count",
            "disposition": "ALIAS_TEMPORARILY"
          }
        ],
        "x-callers": {
          "customerMobile": "legacy",
          "customerWeb": "legacy",
          "providerMobile": "legacy",
          "providerWeb": "migrated",
          "admin": "planned"
        },
        "x-observability-owner": "notifications",
        "security": [
          {
            "firebaseIdToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/UnreadCount"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "TOKEN_EXPIRED | TOKEN_REVOKED | UNAUTHENTICATED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/notifications/{key}/read": {
      "patch": {
        "operationId": "notifications.markRead",
        "summary": "Marks one notification read. Repeating it is a no-op, not an error.",
        "tags": [
          "notifications"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "services/events/notificationInbox.markRead",
        "x-legacy": [
          {
            "method": "PATCH",
            "path": "/api/user/notifications/:key/read",
            "disposition": "ALIAS_TEMPORARILY"
          }
        ],
        "x-callers": {
          "customerMobile": "legacy",
          "customerWeb": "legacy",
          "providerMobile": "legacy",
          "providerWeb": "migrated",
          "admin": "planned"
        },
        "x-observability-owner": "notifications",
        "security": [
          {
            "firebaseIdToken": []
          }
        ],
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Opaque notification key"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/NotificationMutation"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "TOKEN_EXPIRED | TOKEN_REVOKED | UNAUTHENTICATED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "NOTIFICATION_NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "NOTIFICATION_NOT_ACTIONABLE",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/notifications/{key}": {
      "delete": {
        "operationId": "notifications.dismiss",
        "summary": "Dismisses one notification. Repeating it is a no-op, not an error.",
        "tags": [
          "notifications"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "services/events/notificationInbox.dismiss",
        "x-legacy": [
          {
            "method": "DELETE",
            "path": "/api/provider/notifications/:key",
            "disposition": "CANONICALIZE"
          }
        ],
        "x-callers": {
          "customerMobile": "planned",
          "customerWeb": "planned",
          "providerMobile": "planned",
          "providerWeb": "migrated",
          "admin": "n/a"
        },
        "x-observability-owner": "notifications",
        "security": [
          {
            "firebaseIdToken": []
          }
        ],
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Opaque notification key"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/NotificationMutation"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "TOKEN_EXPIRED | TOKEN_REVOKED | UNAUTHENTICATED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "NOTIFICATION_NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "NOTIFICATION_NOT_ACTIONABLE",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/notifications/read-all": {
      "post": {
        "operationId": "notifications.markAllRead",
        "summary": "Marks every notification read. Naturally idempotent.",
        "tags": [
          "notifications"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "services/events/notificationInbox.markAllRead",
        "x-legacy": [
          {
            "method": "POST",
            "path": "/api/user/notifications/mark-all-read",
            "disposition": "ALIAS_TEMPORARILY"
          }
        ],
        "x-callers": {
          "customerMobile": "legacy",
          "customerWeb": "legacy",
          "providerMobile": "legacy",
          "providerWeb": "migrated",
          "admin": "planned"
        },
        "x-observability-owner": "notifications",
        "security": [
          {
            "firebaseIdToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/NotificationMutation"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "TOKEN_EXPIRED | TOKEN_REVOKED | UNAUTHENTICATED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/me/notification-preferences": {
      "get": {
        "operationId": "me.notificationPreferences.get",
        "summary": "The caller's notification preferences, every declared category.",
        "tags": [
          "notifications"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "services/events/notificationPreferences.getPreferences",
        "x-legacy": [
          {
            "method": "GET",
            "path": "/api/provider/notification-preferences",
            "disposition": "ALIAS_TEMPORARILY"
          }
        ],
        "x-callers": {
          "customerMobile": "planned",
          "customerWeb": "planned",
          "providerMobile": "legacy",
          "providerWeb": "migrated",
          "admin": "planned"
        },
        "x-observability-owner": "notifications",
        "security": [
          {
            "firebaseIdToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/NotificationPreferences"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "TOKEN_EXPIRED | TOKEN_REVOKED | UNAUTHENTICATED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Returns every category declared in `domainEvents.NOTIFICATION_CATEGORIES`, filled from the account's row or the category default. A client never has to decide what a missing key means, which is the decision that produces two different answers in two clients."
      },
      "patch": {
        "operationId": "me.notificationPreferences.patch",
        "summary": "Changes named categories. Unnamed ones keep their value.",
        "tags": [
          "notifications"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "services/events/notificationPreferences.patchPreferences",
        "x-legacy": [
          {
            "method": "PUT",
            "path": "/api/provider/notification-preferences",
            "disposition": "ALIAS_TEMPORARILY"
          }
        ],
        "x-callers": {
          "customerMobile": "planned",
          "customerWeb": "planned",
          "providerMobile": "legacy",
          "providerWeb": "migrated",
          "admin": "planned"
        },
        "x-observability-owner": "notifications",
        "security": [
          {
            "firebaseIdToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationPreferencePatch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/NotificationPreferences"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "TOKEN_EXPIRED | TOKEN_REVOKED | UNAUTHENTICATED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "PATCH rather than PUT, deliberately. A full replace means a client that knows about seven categories silently resets the two it has never heard of every time the backend adds one. `/settings/notification-preferences` keeps PUT for the shipped clients."
      }
    },
    "/api/v1/me/devices": {
      "post": {
        "operationId": "me.devices.register",
        "summary": "Registers this device for push, for the authenticated account.",
        "tags": [
          "notifications"
        ],
        "x-implemented": true,
        "x-idempotent": false,
        "x-domain-service": "services/events/deviceTokenService.registerDevice",
        "x-legacy": [
          {
            "method": "POST",
            "path": "/api/provider/fcm-token",
            "disposition": "ALIAS_TEMPORARILY"
          },
          {
            "method": "POST",
            "path": "/api/user/fcm-token",
            "disposition": "ALIAS_TEMPORARILY"
          }
        ],
        "x-callers": {
          "customerMobile": "legacy",
          "customerWeb": "planned",
          "providerMobile": "migrated",
          "providerWeb": "migrated",
          "admin": "n/a"
        },
        "x-observability-owner": "notifications",
        "security": [
          {
            "firebaseIdToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeviceRegistration"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/DeviceRegistrationResult"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "TOKEN_EXPIRED | TOKEN_REVOKED | UNAUTHENTICATED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Account-scoped by construction: the row is upserted ON THE TOKEN, so registering a handset another account holds MOVES it rather than adding a second owner. A resold or shared device receiving two accounts of notifications is a cross-account leak with a lock screen attached."
      },
      "delete": {
        "operationId": "me.devices.release",
        "summary": "Releases this device, or every device for the account.",
        "tags": [
          "notifications"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "services/events/deviceTokenService.releaseDevice",
        "x-legacy": [
          {
            "method": "DELETE",
            "path": "/api/provider/fcm-token",
            "disposition": "ALIAS_TEMPORARILY"
          },
          {
            "method": "DELETE",
            "path": "/api/user/fcm-token",
            "disposition": "ALIAS_TEMPORARILY"
          }
        ],
        "x-callers": {
          "customerMobile": "legacy",
          "customerWeb": "planned",
          "providerMobile": "migrated",
          "providerWeb": "migrated",
          "admin": "n/a"
        },
        "x-observability-owner": "notifications",
        "security": [
          {
            "firebaseIdToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeviceRelease"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/DeviceReleaseResult"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "TOKEN_EXPIRED | TOKEN_REVOKED | UNAUTHENTICATED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Omitting the token releases EVERY device, which is what a sign-out-everywhere wants. Passing one releases that handset only - signing out of a phone must not un-enroll the tablet still signed in."
      }
    },
    "/api/v1/me/settings": {
      "get": {
        "operationId": "me.settings.get",
        "summary": "The caller's settings: locale, privacy, security posture and a notification pointer.",
        "tags": [
          "account"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "services/account/accountSettingsService.getSettings",
        "x-legacy": [],
        "x-callers": {
          "customerMobile": "planned",
          "customerWeb": "planned",
          "providerMobile": "migrated",
          "providerWeb": "planned",
          "admin": "planned"
        },
        "x-observability-owner": "account",
        "security": [
          {
            "firebaseIdToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AccountSettings"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "TOKEN_EXPIRED | TOKEN_REVOKED | UNAUTHENTICATED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "There was no server-side settings store before this. Locale and privacy choices were held per-client, so Customer Web and Customer Mobile each remembered a different language for the same person and neither could tell the backend. Notification preferences are a POINTER to the TAB 09 model, never a second copy of it."
      },
      "patch": {
        "operationId": "me.settings.patch",
        "summary": "Changes named settings. Unnamed ones keep their value.",
        "tags": [
          "account"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "services/account/accountSettingsService.patchSettings",
        "x-legacy": [],
        "x-callers": {
          "customerMobile": "planned",
          "customerWeb": "planned",
          "providerMobile": "migrated",
          "providerWeb": "planned",
          "admin": "planned"
        },
        "x-observability-owner": "account",
        "security": [
          {
            "firebaseIdToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountSettingsPatch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AccountSettings"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "TOKEN_EXPIRED | TOKEN_REVOKED | UNAUTHENTICATED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "ACCOUNT_FIELD_NOT_WRITABLE",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "PATCH rather than PUT: a full replace means a client that knows about four settings silently resets the one it has never heard of every time the backend adds another. An unknown key is REFUSED rather than ignored, so two clients cannot come to disagree about what a person chose."
      }
    },
    "/api/v1/me/security": {
      "get": {
        "operationId": "me.security.get",
        "summary": "The caller's security posture, and where each security action lives.",
        "tags": [
          "account"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "services/account/accountSettingsService.getSecurity",
        "x-legacy": [],
        "x-callers": {
          "customerMobile": "planned",
          "customerWeb": "planned",
          "providerMobile": "planned",
          "providerWeb": "planned",
          "admin": "planned"
        },
        "x-observability-owner": "account",
        "security": [
          {
            "firebaseIdToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AccountSecurity"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "TOKEN_EXPIRED | TOKEN_REVOKED | UNAUTHENTICATED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "READ-ONLY, deliberately. Every security ACTION already has a dedicated endpoint with its own proof of possession; folding them into a settings PATCH would put credential changes behind a JSON body - including turning two-factor OFF from a session that should not be able to. The response names where each action lives so a client need not hardcode it."
      }
    },
    "/api/v1/me/completion": {
      "get": {
        "operationId": "me.completion.get",
        "summary": "What is left before this account is usable. Backend-derived.",
        "tags": [
          "account"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "services/account/profileCompletionService.getCompletion",
        "x-legacy": [
          {
            "method": "GET",
            "path": "/api/provider/account-state",
            "disposition": "KEEP"
          }
        ],
        "x-callers": {
          "customerMobile": "planned",
          "customerWeb": "planned",
          "providerMobile": "migrated",
          "providerWeb": "planned",
          "admin": "n/a"
        },
        "x-observability-owner": "account",
        "security": [
          {
            "firebaseIdToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ProfileCompletion"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "TOKEN_EXPIRED | TOKEN_REVOKED | UNAUTHENTICATED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "`percent` counts every requirement including the cosmetic ones, because that is what a progress bar means to a person. `canProceed` counts only the BLOCKING ones, because that is what the product gates on. Conflating them is how a client shows \"80% complete\" next to a button that does not work."
      }
    },
    "/api/v1/customer/profile": {
      "get": {
        "operationId": "customer.profile.get",
        "summary": "The caller's customer profile extension.",
        "tags": [
          "account"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "services/account/accountService.getCustomerProfile",
        "x-legacy": [
          {
            "method": "GET",
            "path": "/api/user/profile",
            "disposition": "ALIAS_TEMPORARILY"
          }
        ],
        "x-callers": {
          "customerMobile": "legacy",
          "customerWeb": "legacy",
          "providerMobile": "n/a",
          "providerWeb": "n/a",
          "admin": "planned"
        },
        "x-observability-owner": "account",
        "security": [
          {
            "firebaseIdToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CustomerProfile"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "TOKEN_EXPIRED | TOKEN_REVOKED | UNAUTHENTICATED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "customer.profile.patch",
        "summary": "Changes the customer profile extension.",
        "tags": [
          "account"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "services/account/accountService.patchCustomerProfile",
        "x-legacy": [
          {
            "method": "PUT",
            "path": "/api/user/updateprofile",
            "disposition": "ALIAS_TEMPORARILY"
          }
        ],
        "x-callers": {
          "customerMobile": "legacy",
          "customerWeb": "legacy",
          "providerMobile": "n/a",
          "providerWeb": "n/a",
          "admin": "planned"
        },
        "x-observability-owner": "account",
        "security": [
          {
            "firebaseIdToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerProfilePatch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CustomerProfile"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "TOKEN_EXPIRED | TOKEN_REVOKED | UNAUTHENTICATED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "ACCOUNT_FIELD_NOT_WRITABLE",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "The default address is NOT writable here. It is set through the address book, so the flag and the address that carries it cannot disagree."
      }
    },
    "/api/v1/customer/addresses": {
      "get": {
        "operationId": "customer.addresses.list",
        "summary": "The caller's saved addresses, default first.",
        "tags": [
          "account"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "services/account/addressBookService.listAddresses",
        "x-legacy": [
          {
            "method": "GET",
            "path": "/api/user/alluseraddresses",
            "disposition": "ALIAS_TEMPORARILY"
          },
          {
            "method": "GET",
            "path": "/api/user/:userId/addresses",
            "disposition": "ROLE_SPECIFIC"
          }
        ],
        "x-callers": {
          "customerMobile": "legacy",
          "customerWeb": "legacy",
          "providerMobile": "n/a",
          "providerWeb": "n/a",
          "admin": "n/a"
        },
        "x-observability-owner": "account",
        "security": [
          {
            "firebaseIdToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AddressList"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "TOKEN_EXPIRED | TOKEN_REVOKED | UNAUTHENTICATED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "`meta.defaultAddressId` is surfaced so checkout needs one call rather than scanning the list for the first `isDefault` it finds."
      },
      "post": {
        "operationId": "customer.addresses.create",
        "summary": "Saves a new address. The first one becomes the default.",
        "tags": [
          "account"
        ],
        "x-implemented": true,
        "x-idempotent": false,
        "x-domain-service": "services/account/addressBookService.createAddress",
        "x-legacy": [
          {
            "method": "POST",
            "path": "/api/user/adduseraddress",
            "disposition": "ALIAS_TEMPORARILY"
          }
        ],
        "x-callers": {
          "customerMobile": "legacy",
          "customerWeb": "legacy",
          "providerMobile": "n/a",
          "providerWeb": "n/a",
          "admin": "n/a"
        },
        "x-observability-owner": "account",
        "security": [
          {
            "firebaseIdToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddressInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Address"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/PageMeta"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "TOKEN_EXPIRED | TOKEN_REVOKED | UNAUTHENTICATED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "ADDRESS_LIMIT_REACHED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/customer/addresses/{addressId}": {
      "patch": {
        "operationId": "customer.addresses.update",
        "summary": "Changes a saved address.",
        "tags": [
          "account"
        ],
        "x-implemented": true,
        "x-idempotent": true,
        "x-domain-service": "services/account/addressBookService.updateAddress",
        "x-legacy": [
          {
            "method": "POST",
            "path": "/api/user/adduseraddress",
            "disposition": "ALIAS_TEMPORARILY"
          }
        ],
        "x-callers": {
          "customerMobile": "legacy",
          "customerWeb": "legacy",
          "providerMobile": "n/a",
          "providerWeb": "n/a",
          "admin": "n/a"
        },
        "x-observability-owner": "account",
        "security": [
          {
            "firebaseIdToken": []
          }
        ],
        "parameters": [
          {
            "name": "addressId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "user_address.address_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddressInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Address"
                    },
[...]
